.main {
  width: 100%;
  > h3 {
    text-align: center;
    margin-bottom: 80px;
  }
}

.accordionSection {
  position: relative;
  cursor: url(https://images.ctfassets.net/erglja63hoxc/2R9cVs55Aco4cQS8XL8ds8/e1789e9819062a19c1a6d88a7d964c03/Logo_Stickys-Finger-Joint.svg) 2 2, pointer;

  > h6 {
    position: absolute;
    right: 50px;
    top: 20px;
    font-size: 35px;
  }
  > span {
    position: absolute;
    font-family: Syne;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #FFFFFF;
    left: 70px;
    top: 60px;
  }
  > img {
    position: absolute;
    top: 132px;
    left: 70px;
  }
  > p {
    position: absolute;
    left: 70px;
    top: 160px;
  }
  > div {
    position: relative;
    max-width: 1200px;
    cursor: pointer;
    > img {
      max-width: 100%;
      position: absolute;
      &:last-child {
        right: 0;
        top: 0
      }
    }
  }
}

.button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 56px;
  margin-bottom: 120px;
  > a > div {
    > span {
      right: 26px !important;
    }
  }
}