.main {
  width: 100%;
  // max-width: 1440px;
  height: 980px;
  background-image: url(../../styles/img/bg_video.png);
  background-position: center;
  background-size: cover;
  > section {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(0%,816%);
    > section {
      position: absolute;
      display: flex;
      bottom: -17px;
      > span {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        &:nth-child(1) {
          transform: rotate(32.41deg) ;
        }
        &:nth-child(2) {
          transform: rotate(18.24deg) translate(3px, 4px);
        }
        &:nth-child(3) {
          transform: rotate(2.97deg) translate(4px, 6px);
        }
        &:nth-child(4) {
          transform: rotate(-12.04deg) translate(5px, 7px);
        }
        &:nth-child(5) {
          transform: rotate(-25.5deg) translate(6px, 6px);
        }
        &:nth-child(6) {
          transform: rotate(-37.11deg) translate(7px, 3px);
        }
      }
    }
    .scrollButton {
      width: 92.7px;
      height: 92.7px;
      background: linear-gradient(215.28deg, rgba(123, 100, 220, 0.3) 17.13%, rgba(164, 107, 186, 0.3) 83.78%);
      backdrop-filter: blur(10.4159px);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      cursor: pointer;
      position: relative;
      &:hover {
        > div {
          > img {
            transition: all 0.3s ease-in-out;
            margin-top: 10px;
          }
        }
        > img {
          transition: all 0.3s ease-in-out;
          top: -20px;
        }
      }
      > img {
        position: absolute;
        top: -12px;
      }
      > div {
        width: 71.87px;
        height: 71.87px;
        animation: custom 3s infinite linear;
        background: linear-gradient(216.64deg, rgba(163, 106, 188, 0.6) 12.61%, rgba(123, 100, 220, 0.6) 89.41%);
        backdrop-filter: blur(4.16637px);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

@keyframes custom {
  0% {
    width: 61.87px;
    height: 61.87px;
  }
  50% {
    width: 71.87px;
    height: 71.87px;
  }
  100% {
    width: 61.87px;
    height: 61.87px;
  }
  }