.mint-fighter-modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 100000;
    background: rgba(1,1,3, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    &-content {
        position: relative;
        padding: 94px 80px 68px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 1000px;
        max-width: 100%;
        border-radius: 15px;
        mask-image: url('../../styles/img/modal-mask.svg');
        mask-repeat: no-repeat;
        mask-size: 100%;
        mask-position: center;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            background-size: contain;
            background-position: 50%;
            background-image: url('../../styles/img/modal-border.svg');
            background-repeat: no-repeat;
        }
        &-bg {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(360deg, #000000 4.53%, #1E135C 100%);
            opacity: 0.8;
            pointer-events: none;
            z-index: -1;
        }
    }
    &-title {
        color: #EFDAA9;
        margin: 0 auto 22px;
        letter-spacing: normal;
    }
    &-text {
        &:not(:last-of-type) {
            margin-bottom: 16px;
        }
        &:last-of-type {
            margin-bottom: 0;
        }
        max-width: 78%;
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
    }
    &-close {
        position: absolute;
        top: 32px;
        right: 32px;
        width: 93px;
        outline: none;
        cursor: pointer;
        img {
            width: 100%;
        }
    }
    &-button {
        margin: 32px auto 0;
    }
}

@media only screen and (max-width: 1200px) {
    .mint-fighter-modal {
        &-content {
            padding: 90px 72px 68px;
            width: 704px;
            mask-image: url('../../styles/img/modal-mask-tablet.svg');
            &:before {
                background-image: url('../../styles/img/modal-border-tablet.svg');
            }
        }
        &-text {
            max-width: 80%;
        }
    }
}

@media only screen and (max-width: 767px) {
    .mint-fighter-modal {
        &-content {
            padding: 90px 33px 66px;
            width: 354px;
            mask-image: none;
            overflow: hidden;
            &:before {
                display: none;
            }
            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                max-width: 100%;
                height: 100%;
                padding: 1px;
                background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
                -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                -webkit-mask-composite: destination-out;
                mask-composite: destination-out;
                mask-composite: exclude;
                pointer-events: none;
                border-radius: 15px;
                z-index: -1;
            }
        }
        &-title {
            font-size: 24px;
            line-height: 24px;
        }
        &-text {
            max-width: 100%;
        }
        &-close {
            top: 16px;
            right: 16px;
        }
    }
}

@media only screen and (min-width: 1920px) {
    .mint-fighter-modal {
        &-content {
            padding: 120px 120px 120px;
            width: 1660px;
        }
        &-title {
            font-size: 80px;
            line-height: 80px;
            margin: 0 auto 60px;
        }
        &-text {
            &:not(:last-of-type) {
                margin-bottom: 32px;
            }
            max-width: 78%;
            font-size: 24px;
            line-height: 38px;
        }
        &-button {
            margin: 64px auto 0;
        }
    }
}