.roadmap-section {
  position: relative;
  padding-top: 192px;
  padding-bottom: 100px;
  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .decoration {
    position: absolute;
    right: 0;
    top: -30px;
    mix-blend-mode: hard-light;
    pointer-events: none;
    z-index: -1;
  }
  .roadmapTitle {
    margin-bottom: 80px;
  }
  .card {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 803px;
    max-width: 100%;
    height: 280px;
    &:not(:last-child) {
      margin-bottom: 100px;
    }
    &-bg {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: -1;
    }
    &-title {
      margin-bottom: 12px;
      text-align: center;
    }
    &-description {
      max-width: 555px;
      text-align: center;
      margin-bottom: 0;
    }
    &-label {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: 22px;
      top: 36px;
      user-select: none;
      &-big {
        left: -34px;
        .card-label-image {
          transform: rotate(-5.5deg);
          width: 184px;
        }
        .card-label-text {
          font-family: 'Syne';
          font-size: 24px;
          line-height: 36px;
          top: 63px;
          left: 23px;
          transform: rotate(-58deg);
          white-space: nowrap;
        }
      }
      &-even {
        left: auto;
        right: -34px;
        top: 120px;
        .card-label-text {
          left: auto;
          right: 27px;
        }
      }
      &-image {
        position: relative;
        width: 118px;
        height: auto;
        z-index: -1;
        &-flipped {
          transform: scaleX(-1);
        }
      }
      &-text {
        position: absolute;
        top: 21px;
        left: 27px;
        font-family: 'Syne-B';
        font-style: normal;
        font-weight: 600;
        font-size: 34.1538px;
        line-height: 1;
        color: #010103;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .roadmap-section {
    .card {
      width: 704px;
      height: 288px;
      &:not(:last-child) {
        margin-bottom: 50px;
      }
      &-description {
        max-width: 467px;
        font-size: 0.888rem;
        line-height: 1.333rem;
      }
      &-label {
        left: 43px;
        top: 22px;
        &-big {
          left: 35px;
          .card-label-image {
            transform: rotate(-9deg);
            width: 104px;
          }
          .card-label-text {
            font-size: 14px;
            line-height: 20px;
            top: 38px;
            left: 11px;
            transform: rotate(-61deg);
          }
        }
        &-even {
          left: auto;
          top: 22px;
          right: 41px;
          .card-label-image {
            transform: scaleX(-1) rotate(-5.5deg);
          }
          .card-label-text {
            right: 24px;
          }
        }
        &-image {
          width: 88px;
          transform: rotate(-5.5deg);
        }
        &-text {
          top: 12px;
          left: 20px;
          font-size: 24px;
          line-height: 36px;
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .roadmap-section {
    .card {
      width: 354px;
      height: 336px;
      &:not(:last-child) {
        margin-bottom: 16px;
      }
      &-title {
        margin-bottom: 8px;
      }
      &-description {
        max-width: 257px;
        font-size: 0.7rem;
        line-height: 1rem;
      }
      &-label {
        left: 11px;
        top: 30px;
        &-big {
          top: 40px;
          left: -3px;
          .card-label-image {
            transform: rotate(-29deg);
            width: 65px;
          }
          .card-label-text {
            font-size: 8px;
            line-height: 13px;
            top: 25px;
            left: 9px;
            transform: rotate(-79.5deg);
          }
        }
        &-even {
          left: auto;
          top: 30px;
          right: 11px;
          .card-label-image {
            transform: scaleX(-1) rotate(-24deg);
          }
          .card-label-text {
            right: 6px;
          }
        }
        &-image {
          width: 42px;
          transform: rotate(-24deg);
        }
        &-text {
          top: 3px;
          left: 5px;
          font-size: 16px;
          line-height: 25px;
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .decoration {
    display: none;
  }
  .roadmap-section {
    padding-top: 50px;
    padding-bottom: 50px;
    .roadmapTitle {
      margin-bottom: 50px;
    }
  }
}

@media only screen and (min-width: 1920px) {
  .roadmap-section {
    padding-top: 292px;
    padding-bottom: 200px;
    .roadmapTitle {
      margin-bottom: 120px;
    }
    .card {
      &:not(:last-child) {
        margin-bottom: 120px;
      }
    }
  }
}

@media only screen and (min-width: 3000px) {
  .roadmap-section {
    .decoration {
      display: none;
    }
  }
}