.main {
  position: relative;
  width: 100%;
  min-height: 1180px;
  .mainHeader {
    display: flex;
    position: relative;
    > h2 {
      opacity: 0;
      margin-bottom: 45px;
    }
    > img {
      position: absolute;
      animation: bounceUp 5s ease-in-out infinite;
      right: 0;
      top: -167px;
    }
  }
  .decoration {
    position: absolute;
    z-index: -1;
    right: 0;
    top: 29%;
  }
}
.playVideo {
  position: absolute;
  width: 100px;
  height: 100px;
  cursor: pointer;
  z-index: 10;
  > div {
    position: relative;
    width: 100%;
    height: 100%;
    > img {
      position: absolute;
      width: 100%;
      // top: -15px;
      // left: -21px;
      // &:last-child {
      //   top: 70px;
      //   left: 12px;
      // }
    }
  }
}
.videoContentWrapper {
  width: 100%;
  height: 100%;
  > video {
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
  > svg {
    float: right;
    margin-bottom: 20px;
    cursor: pointer;
  }
}
.contentWrapper {
  display: flex;
  align-items: center;
  position: relative;
  width: 85%;
  margin-top: 40px !important;
  > div {
    &:first-child {
      margin-right: 63px;
    }
  }
  .mainContent {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contentText {
    position: absolute;
    max-width: 87%;
    margin-bottom: 0;
  }
}

.civilizations {
  padding-top: 200px;
  position: relative;
  width: 84.3vw;
  .civilizationsTitle {
    margin-bottom: 42px;
  }
  .civilizationsSubtitle {
    max-width: 1070px;
    margin-bottom: 120px;
  }
  > span {
    margin-top: 24px;
  }
}

.arrowsP {
  position: absolute;
  bottom: 0;
  left: 390px;
}
.arrowsG {
  position: absolute;
  top: 70px;
  left: -2px;
  > div {
    flex-direction: column;
  }
}
.tablet,
.mobile {
  display: none;
}
.desktop {
  display: block;
}
.animatedButton {
  animation-fill-mode: forwards !important;
  animation-delay: 1.9s !important;
  opacity: 0;
}
.animationDescription {
  animation: animateBottom .2s ease-in-out;
}
.animationTitleFirst {
  animation: animateLeft .6s ease-in-out;
}
.animationTitleSecond {
  animation: animateTop .5s ease-in-out;
}
.animationButtonActive {
  animation: animateBottom .5s ease-in-out;
}

.animatedArrow {
  display: flex;
  align-items: center;
  justify-content: center;
  > img {
    &:nth-child(1) {
      animation: opacityArrowFirst 1s ease-in-out infinite;
    }
    &:nth-child(2) {
      animation: opacityArrowSecond 1s ease-in-out infinite;
    }
    &:nth-child(3) {
      animation: opacityArrowFirst 1s ease-in-out infinite;
    }
  }
}

.soundIcon {
  position: absolute;
  z-index: 2;
  bottom: 8px;
  right: 17px;
  cursor: pointer !important;
}
.videoWrapper {
  position: relative;
  max-width: 535px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  > img:first-child {
    position: absolute;
    z-index: 1;
    pointer-events: none;
    margin-bottom: 3px;
  }
  > img {
    width: 134% !important;
    height: auto;
    object-fit: cover;
    mask-image: url('../../../styles/img/video-mask.svg');
    mask-repeat: no-repeat;
    mask-size: 74.3%;
    mask-position: center;
  }
}
.videoContainer {
  position: relative;
}
.civilizationSlides {
  position: relative;
  height: 633px;
  width: 1215px;
  max-width: 100%;
  img {
    max-width: 100%;
  }
  &-buttons {
    position: absolute;
    top: 1%;
    left: 6%;
    width: 30.4vw;
    max-width: 24.444rem;
  }
  &-button {
    flex-basis: 39.5%;
    height: 5vw;
    max-height: 72px;
    &-text {
      font-size: 1.53vw;
    }
  }
}

.slide {
  position: absolute;
  width: 1215px;
  max-width: 100%;
  z-index: 1;
  &-content {
    position: absolute;
    width: 40%;
    top: 32.64%;
    left: 5.65%;
  }
  &-border {
    position: absolute;
    top: -35px;
    left: -31px;
  }
  &-title {
    font-size: 2rem;
    line-height: 1;
    margin-bottom: 20px;
  }
  &-text {
    max-width: 100%;
    margin-bottom: 40px;
  }
}

.button-text-container {
  padding-left: 95px !important;
  padding-right: 0 !important;
}

.slides-counter {
  position: absolute;
  top: 0;
  right: 0;
  width: 11.53vw;
  max-width: 166px;
  &-image {
    width: 100%;
    z-index: -1;
  }
  &-text {
    position: absolute;
    top: 20%;
    right: 7%;
  }
  &-active {
    font-family: 'Syne-B';
    font-style: normal;
    font-weight: 500;
    font-size: 1.888rem;
    line-height: 1.777rem;
    color: #010103;
    margin-right: 2px;
  }
  &-slash {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 1.777rem;
    color: #010103;
    margin-right: -3px;
    opacity: 0.5;
  }
  &-length {
    font-family: 'Syne-B';
    font-style: normal;
    font-weight: 500;
    font-size: 0.9444rem;
    line-height: 1.777rem;
    color: #010103;
    opacity: 0.5;
  }
}

@media only screen and (max-width: 1200px) {
  .videoWrapper {
    max-width: 100%;
    margin-bottom: 0 !important;
  }
  .tablet {
    display: block;
  }
  .desktop {
    display: none;
  }
  .decoration {
    display: none;
  }
  .main {
    .mainHeader {
      display: flex;
      position: relative;
      > h2 {
        margin-bottom: 52px;
      }
      > img {
        display: none;
      }
    }
  }
  .contentWrapper {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 100%;
    padding: 0 32px 40px;
    margin-top: 0 !important;
    > div {
      width: 100%;
      margin-bottom: 40px;
      > img {
        width: 100%;
      }
      &:first-child {
        margin-bottom: 43px;
        margin-right: 0;
      }
    }
    .contentText {
      font-size: 1.6rem;
      line-height: 2.6rem;
    }
  }

  .civilizations {
    padding-top: 40px;
    margin-bottom: 40px !important;
    .civilizationsTitle {
      margin-bottom: 18px;
    }
    .civilizationsSubtitle {
      max-width: 85%;
      width: 704px;
      margin-bottom: 60px;
    }
    > img {
      display: none;
    }
  }
  .arrowsP {
    bottom: 6px;
    left: 586px;
  }
  .arrowsG {
    top: 121px;
    left: 3px;
  }

  .civilizationSlides {
    width: 704px;
    height: auto;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-buttons {
      position: static;
      top: auto;
      left: auto;
      justify-content: space-between;
      width: 90%;
      max-width: 90%;
      z-index: 2;
      margin-top: 36px;
    }
    &-button {
      flex-basis: 50%;
      height: 4rem;
      &-text {
        font-size: 1.2rem;
      }
    }
  }

  .slide {
    position: relative;
    width: 100%;
    max-width: 100%;
    &-content {
      position: absolute;
      width: 68.2%;
      height: 74.3%;
      top: 16.54%;
      left: 22.72%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &-title {
      margin-left: 0;
      margin-right: auto;
    }
    &-btn-wrap {
      margin-top: auto;
      margin-bottom: 0;
    }
  }
  .slides-counter {
    display: none;
  }
}

@keyframes opacityArrowFirst {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacityArrowSecond {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

@keyframes animateLeft {
  0% {
    transform: translate(-100%, 0);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes animateTop {
  0% {
    transform: translate(0, -100%);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes animateBottom {
  0% {
    transform: translateY(110px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes bounceUp {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-30px); }
  100% { transform: translateY(0); }
}

@media only screen and (max-width: 1080px) {
  .arrowsP {
    bottom: 1%;
    left: 54%;
  }
  .arrowsG {
    top: 32%;
    left: 0.2%;
  }
}

@media only screen and (max-width: 1024px) {
  .contentWrapper {
    .contentText {
      font-size: 1.3rem;
      line-height: 2rem;
    }
  }
}


@media only screen and (max-width: 768px) {
  .contentWrapper {
    .contentText {
      font-size: 1.1rem;
      line-height: 1.4rem;
    }
  }
}

@media only screen and (max-width: 680px) {
  .slide {
    &-title {
      font-size: 1.4rem;
      line-height: 1;
      margin-bottom: 10px;
    }
    &-text {
      font-size: 0.8rem;
      line-height: 1.1rem;
    }
    &-content {
      width: 68.2%;
      height: 79%;
      top: 12.54%;
      left: 21.72%;
    }
  }
  .arrowsP {
    bottom: -2%;
    left: 52.4%;
  }
  .arrowsG {
    top: 27%;
    left: -0.8%;
  }
  .contentText {
    line-height: 1rem !important;
  }
}

@media only screen and (max-width: 600px) {
  .contentWrapper {
    .contentText {
      font-size: 0.85rem;
      line-height: 1.2rem;
    }
  }
}

@media only screen and (max-width: 480px) {
  .main {
    padding-top: 46px;
    padding-bottom: 50px;
  }
  .tablet {
    display: none;
  }
  .mobile {
    display: block;
  }

  .contentWrapper {
    padding: 0 32px 51px;
    .contentText {
      width: 80%;
      font-size: 0.8rem;
      line-height: 1rem;
    }
  }

  .civilizations {
    .civilizationsTitle {
      margin-bottom: 11px;
    }
    .civilizationsSubtitle {
      max-width: 100%;
    }
  }

  .civilizationSlides {
    width: 354px;
    &-buttons {
      margin-top: 16px;
      width: 84%;
      max-width: 84%;
    }
    &-button {
      height: 3.333rem;
      &-text {
        font-size: 1rem;
      }
    }
  }

  .slide {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
    &-content {
      width: 75%;
      height: 82%;
      top: 10%;
      left: 18%;
    }
    &-border {
      width: 60px;
      top: -20px;
      left: -18px;
    }
    &-title {
      font-size: 1rem;
      line-height: 1rem;
      letter-spacing: 0;
      margin-bottom: 10px;
      white-space: nowrap;
    }
    &-text {
      font-size: 0.8rem;
      line-height: 1.222rem;
      letter-spacing: 0.056rem;
      margin-bottom: 0;
    }
  }

  .arrowsP {
    bottom: 0;
    left: 57%;
  }
  .arrowsG {
    top: 30%;
    left: 0;
  }

  .button-text-container {
    padding-left: 56px !important;
  }
}

@media only screen and (max-width: 400px) {
  .contentWrapper {
    .contentText {
      width: 75%;
      font-size: 0.68rem;
      line-height: 1rem;
    }
  }
}

@media only screen and (min-width: 1440px) {
  .civilizationSlides {
    &-button {
      &-text {
        font-size: 1.222rem;
      }
    }
  }
}

@media only screen and (min-width: 1920px) {
  .main {
    .decoration {
      top: 39%;
    }
  }
  .contentWrapper {
    margin-top: 80px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .mainContent {
      position: relative;
      margin-right: unset;
      width: 700px;
      .desktop {
        width: 100%;
      }
    }
    .contentText {
      margin-bottom: 0;
      max-width: 600px;
      font-size: 1.8rem;
      line-height: 2.7rem;
    }
  }

  .arrowsP {
    left: 540px;
  }
  .arrowsG {
    top: 110px;
    left: 0;
  }

  .videoWrapper {
    max-width: 666px;
  }
  
  .civilizations {
    padding-top: 300px;
  }
}

@media only screen and (min-width: 2000px) {
  .civilizations {
    padding-top: 300px;
  }
}

@media only screen and (min-width: 3000px) {
  .civilizations {
    padding-top: 300px;
  }
  .main {
    .decoration {
      display: none;
    }
  }
}