.main {
  width: 100%;
  min-height: 1180px;
  overflow: hidden;
  .mainHeader {
    display: flex;
    position: relative;
    > h2 {
      font-style: normal;
      font-weight: 600;
      font-size: 120px;
      line-height: 100px;
      color: #EFDAA9;
      font-family: 'Syne';
      opacity: 0;
      &:first-child {
        margin-right: 20px;
        animation-fill-mode: forwards;
      }
      &:nth-child(2)  {
        animation-fill-mode: forwards;
        animation-delay: 0.6s;
      }
    }
    > img {
      position: absolute;
      animation: bounceUp 5s ease-in-out infinite;
      right: 0;
      top: -167px;
    }
  }
}

.contentWrapper {
  display: flex;
  align-items: center;
  position: relative;
  width: 85%;
  margin-top: 40px !important;
  > div {
    &:first-child {
      margin-right: 63px;
    }
  }
  .mainContent {
    position: relative;
    > span {
      position: absolute;
      left: 60px;
      top: 61px;
    }
  }
}

.civilizations {
  padding-top: 128px;
  position: relative;
  width: 85%;
  .civilizationsTitle {
    margin-bottom: 64px;
  }
  .animatedTitle {
    display: flex;
    margin-left: 0;
    > h3 {
      &:first-child {
        opacity: 0;
        animation-fill-mode: forwards;
      }
      &:last-child {
        opacity: 0;
        animation-fill-mode: forwards;
        animation-delay: 0.6s;
      }
    }
  }
  .animatedDescription {
    margin: 0;
    > span {
      &:first-child {
        opacity: 0;
        animation-fill-mode: forwards;
        animation-delay: 1.2s;
      }
      &:nth-child(2) {
        opacity: 0;
        animation-fill-mode: forwards;
        animation-delay: 1.6s;
      }
      &:nth-child(3) {
        opacity: 0;
        animation-fill-mode: forwards;
        animation-delay: 1.8s;
      }
    }
  }
  > span {
    margin-top: 24px;
  }
  > div {
    margin-top: 54px;
    // margin-left: 35px;
  }
  > img {
    position: absolute;
    right: -104px;
    top: -14px;
    z-index: -1;
  }
}

.arrowsP {
  position: absolute;
  bottom: 0;
  left: 390px;
}
.arrowsG {
  position: absolute;
  top: 70px;
  left: -2px;
  > div {
    flex-direction: column;
  }
}
.tablet {
  display: none;
}
.desktop {
  display: block;
}
.animatedButton {
  animation-fill-mode: forwards !important;
  animation-delay: 1.9s !important;
  opacity: 0;
}
.animationDescription {
  animation: animateBottom .2s ease-in-out;
}
.animationTitleFirst {
  animation: animateLeft .6s ease-in-out;
}
.animationTitleSecond {
  animation: animateTop .5s ease-in-out;
}
.animationButtonActive {
  animation: animateBottom .5s ease-in-out;
}

.animatedArrow {
  display: flex;
  align-items: center;
  justify-content: center;
  > img {
    &:nth-child(1) {
      animation: opacityArrowFirst 1s ease-in-out infinite;
    }
    &:nth-child(2) {
      animation: opacityArrowSecond 1s ease-in-out infinite;
    }
    &:nth-child(3) {
      animation: opacityArrowFirst 1s ease-in-out infinite;
    }
  }
}

.soundIcon {
  position: absolute;
  z-index: 2;
  bottom: 29px;
  right: 54px;
  cursor: pointer !important;
}
.videoWrapper {
  position: relative;
  max-width: 535px;
  > img:first-child {
    position: absolute;
    top: -37px;
    left: -19px;
  }
  > video {
    width: 500px;
    // width: 90%;
    // height: 100%;
    height: 274px;
    object-fit: cover;
  }
}
.civilizationSlides {
  height: 632px;
  > div {
    width: 100%;
    > img {
      max-width: 100%;
    }
  }
}

.slide {
  position: absolute;
  width: 1215px;
  max-width: 100%;
}

@media only screen and (max-width: 1200px) {
  .videoWrapper {
    margin: 0 auto;
    max-width: 100%;
    > img:first-child {
      width: 106%;
      height: 468px;
    }
    > video {
      width: 100%;
      height: 418px;
    }
  }
  .tablet {
    display: block;
  }
  .desktop {
    display: none;
  }
  .mainHeader {
    display: flex;
    position: relative;
    > h2 {
      font-size: 48px !important;
    }
    > img {
      display: none;
    }
  }
  .contentWrapper {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    max-width: 800px;
    margin-top: 0 !important;
    > div {
      width: 100%;
      margin-bottom: 40px;
      > img {
        width: 100%;
      }
      &:first-child {
        margin-bottom: 43px;
        margin-right: 0;
      }
    }
  }
  .civilizations {
    padding-top: 40px;
    margin-bottom: 40px !important;
    > img {
      display: none;
    }
  }
  .arrowsP {
    bottom: 0;
    left: 432px;
  }
  .arrowsG {
    top: 83px;
    left: 0px;
  }
}

@keyframes opacityArrowFirst {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacityArrowSecond {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

@keyframes animateLeft {
  0% {
    transform: translate(-100%, 0);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes animateTop {
  0% {
    transform: translate(0, -100%);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes animateBottom {
  0% {
    transform: translateY(110px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes bounceUp {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-30px); }
  100% { transform: translateY(0); }
}

@media only screen and (max-width: 980px) {
}