.main {
  position: relative;
  width: 100%;
  min-height: 1180px;
  overflow: hidden;
  .mainHeader {
    display: flex;
    position: relative;
    > h2 {
      font-style: normal;
      font-weight: 600;
      font-size: 120px;
      line-height: 100px;
      color: #EFDAA9;
      font-family: 'Syne';
      opacity: 0;
      margin-bottom: 45px;
    }
    > img {
      position: absolute;
      animation: bounceUp 5s ease-in-out infinite;
      right: 0;
      top: -167px;
    }
  }
  .decoration {
    position: absolute;
    z-index: -1;
    right: 0;
    top: 29%;
  }
}
.playVideo {
  position: absolute;
  width: 100px;
  height: 100px;
  cursor: pointer;
  > div {
    position: relative;
    width: 100%;
    height: 100%;
    > img {
      position: absolute;
      top: -15px;
      left: -21px;
      &:last-child {
        top: 70px;
        left: 12px;
      }
    }
  }
}
.contentWrapper {
  display: flex;
  align-items: center;
  position: relative;
  width: 85%;
  margin-top: 40px !important;
  > div {
    &:first-child {
      margin-right: 63px;
    }
  }
  .mainContent {
    position: relative;
  }
  .contentText {
    position: absolute;
    left: 60px;
    top: 61px;
  }
}

.civilizations {
  padding-top: 200px;
  position: relative;
  width: 85%;
  .civilizationsTitle {
    margin-bottom: 64px;
  }
  .civilizationsSubtitle {
    max-width: 1130px;
    margin-bottom: 54px;
  }
  > span {
    margin-top: 24px;
  }
}

.arrowsP {
  position: absolute;
  bottom: 0;
  left: 390px;
}
.arrowsG {
  position: absolute;
  top: 70px;
  left: -2px;
  > div {
    flex-direction: column;
  }
}
.tablet,
.mobile {
  display: none;
}
.desktop {
  display: block;
}
.animatedButton {
  animation-fill-mode: forwards !important;
  animation-delay: 1.9s !important;
  opacity: 0;
}
.animationDescription {
  animation: animateBottom .2s ease-in-out;
}
.animationTitleFirst {
  animation: animateLeft .6s ease-in-out;
}
.animationTitleSecond {
  animation: animateTop .5s ease-in-out;
}
.animationButtonActive {
  animation: animateBottom .5s ease-in-out;
}

.animatedArrow {
  display: flex;
  align-items: center;
  justify-content: center;
  > img {
    &:nth-child(1) {
      animation: opacityArrowFirst 1s ease-in-out infinite;
    }
    &:nth-child(2) {
      animation: opacityArrowSecond 1s ease-in-out infinite;
    }
    &:nth-child(3) {
      animation: opacityArrowFirst 1s ease-in-out infinite;
    }
  }
}

.soundIcon {
  position: absolute;
  z-index: 2;
  bottom: 8px;
  right: 17px;
  cursor: pointer !important;
}
.videoWrapper {
  position: relative;
  max-width: 535px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  > img:first-child {
    position: absolute;
    z-index: 1;
    pointer-events: none;
    margin-bottom: 3px;
  }
  > video {
    width: 134%;
    height: auto;
    object-fit: cover;
    mask-image: url('../../../styles/img/video-mask.svg');
    mask-repeat: no-repeat;
    mask-size: 74.3%;
    mask-position: center;
  }
}
.civilizationSlides {
  height: 633px;
  max-width: 100%;
  img {
    max-width: 100%;
  }
}

.slide {
  position: absolute;
  width: 1215px;
  max-width: 100%;
  z-index: 1;
  &:not(:first-child) {
    opacity: 0;
    visibility: hidden;
  }
  &-content {
    position: absolute;
    width: 35.4%;
    top: 32.64%;
    left: 7.65%;
  }
  &-border {
    position: absolute;
    top: -35px;
    left: -31px;
  }
  &-title {
    font-family: 'Syne-B', sans-serif;
    font-size: 36px;
    line-height: 36px;
    color: #EFDAA9;
    margin-bottom: 20px;
  }
  &-text {
    font-family: 'Satoshi', sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: rgba(255,255,255,0.7);
    max-width: 100%;
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 1200px) {
  .videoWrapper {
    max-width: 100%;
  }
  .tablet {
    display: block;
  }
  .desktop {
    display: none;
  }
  .main {
    .mainHeader {
      display: flex;
      position: relative;
      > h2 {
        font-size: 48px;
        line-height: 72px;
        margin-bottom: 40px;
      }
      > img {
        display: none;
      }
    }
  }
  .contentWrapper {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 100%;
    padding: 0 32px 40px;
    margin-top: 0 !important;
    > div {
      width: 100%;
      margin-bottom: 40px;
      > img {
        width: 100%;
      }
      &:first-child {
        margin-bottom: 43px;
        margin-right: 0;
      }
    }
    .contentText {
      left: 63px;
      top: 50px;
      width: 86%;
      margin-bottom: 0;
      font-size: 1.4rem;
      line-height: 2.1rem;
      letter-spacing: 0.1em;
    }
  }

  .civilizations {
    padding-top: 40px;
    margin-bottom: 40px !important;
    .civilizationsTitle {
      line-height: 72px;
      margin-bottom: 18px;
    }
    .civilizationsSubtitle {
      max-width: 85%;
      margin-bottom: 60px;
    }
    > img {
      display: none;
    }
  }
  .arrowsP {
    bottom: 6px;
    left: 586px;
  }
  .arrowsG {
    top: 121px;
    left: 3px;
  }

  .civilizationSlides {
    height: auto;
    margin-top: 0;
  }

  .slide {
    position: relative;
    width: 704px;
    max-width: 100%;
    &:not(:last-child) {
      margin-bottom: 32px;
    }
    &:not(:first-child) {
      transform: none !important;
      opacity: 1;
      visibility: unset;
    }
    &-content {
      position: absolute;
      width: 68.2%;
      height: 74.3%;
      top: 16.54%;
      left: 22.72%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &-title {
      margin-left: 0;
      margin-right: auto;
    }
    &-btn-wrap {
      margin-top: auto;
      margin-bottom: 0;
    }
  }
}

@keyframes opacityArrowFirst {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacityArrowSecond {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

@keyframes animateLeft {
  0% {
    transform: translate(-100%, 0);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes animateTop {
  0% {
    transform: translate(0, -100%);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes animateBottom {
  0% {
    transform: translateY(110px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes bounceUp {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-30px); }
  100% { transform: translateY(0); }
}

@media only screen and (max-width: 1080px) {
  .contentWrapper {
    .contentText {
      left: 63px;
      top: 50px;
      width: 86%;
      margin-bottom: 0;
      font-size: 1.2rem;
      line-height: 1.8rem;
      letter-spacing: 0.1em;
    }
  }
  .arrowsP {
    bottom: 4px;
    left: 520px;
  }
  .arrowsG {
    top: 100px;
    left: 3px;
  }
}

@media only screen and (max-width: 768px) {
  .contentWrapper {
    .contentText {
      width: 80%;
      font-size: 0.9rem;
      line-height: 1.35rem;
    }
  }
  .arrowsP {
    bottom: 0;
    left: 375px;
  }
  .arrowsG {
    top: 68px;
    left: -1px;
  }
}

@media only screen and (max-width: 480px) {
  .tablet {
    display: none;
  }
  .mobile {
    display: block;
  }

  .contentWrapper {
    .contentText {
      left: 40px;
      top: 25px;
      width: 77%;
    }
  }

  .slide {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
    &-content {
      width: 75%;
      height: 79.58%;
      top: 13%;
      left: 18%;
    }
    &-border {
      width: 60px;
      top: -20px;
      left: -18px;
    }
    &-title {
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 10px;
      white-space: nowrap;
    }
    &-text {
      font-size: 12px;
      line-height: 18px;
      margin-bottom: 0;
    }
  }

  .arrowsP {
    bottom: -1px;
    left: 197px;
  }
  .arrowsG {
    top: 67px;
    left: -3px;
  }
}

@media only screen and (min-width: 1920px) {
  .main {
    .decoration {
      top: 39%;
    }
  }
  .contentWrapper {
    margin-top: 80px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .mainContent {
      position: relative;
      margin-right: unset;
      width: 700px;
      .desktop {
        width: 100%;
      }
    }
    .contentText {
      margin-bottom: 0;
      max-width: 600px;
      left: 60px;
      top: 50px;
      font-size: 1.3rem;
      line-height: 2rem;
    }
  }

  .arrowsP {
    left: 540px;
  }
  .arrowsG {
    top: 110px;
    left: 0;
  }

  .videoWrapper {
    max-width: 666px;
  }
  
  .civilizations {
    padding-top: 300px;
  }
}

@media only screen and (min-width: 2000px) {
  .civilizations {
    padding-top: 300px;
  }
}

@media only screen and (min-width: 3000px) {
  .civilizations {
    padding-top: 300px;
  }
  .main {
    .decoration {
      display: none;
    }
  }
}