.main {
  position: relative;
  padding-top: 189px;
  > img {
    position: absolute;
    width: 100%;
    top: 188px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.decor {
  position: absolute;
  top: 45%;
  right: 0;
  z-index: -1;
}

.mainHeader {
  width: 100%;
  height: 154px;
  background-image: url(../../styles/img/civilizations/main_header_back.png);
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  > div {
    animation: marquee 10s infinite linear;
    width: 300%;
    height: 100%;
    position: absolute;
    > span {
      // right: 30%;
      width: 33%;
      margin-right: 60px;
      font-family: "Syne";
      font-style: normal;
      font-weight: 600;
      font-size: 96px;
      line-height: 144px;
      color: #efdaa9;
    }
  }
  > img {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
  }
}
.content {
  > h1 {
    margin-bottom: 50px;
  }
  > h6 {
    font-family: "Syne";
    font-style: normal;
    font-weight: bold;
    margin: 0 auto;
    font-size: 46px;
    line-height: 60px;
    text-align: center;
    color: #a36abc;
    margin-top: 70px;
    margin-bottom: 120px;
    max-width: 560px;
  }
}
.tablet {
  display: none;
  width: 100%;
}
.mobile {
  display: none;
  width: 100%;
}
.desktop {
  display: block;
  width: 100%;
}
.buttonBlock {
  position: absolute;
  top: 3%;
  left: 4%;
  width: 32%;
  z-index: 1;
  display: flex;
  align-items: center;
  > div {
    max-width: 277px;
    position: relative;
    cursor: pointer;
    > img {
      z-index: 2;
      max-width: 100%;
    }
    > span {
      z-index: 3;
      position: absolute;
      left: 35%;
      top: 30%;
      font-family: "Syne";
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 26px;
      text-align: center;
    }
    &:first-child {
      margin-left: 20px;
    }
  }
}
.animationWrapper {
  margin-top: 50px;
  > div {
    width: 100%;
    max-height: 810px;
    position: relative;
    overflow: hidden;
    .animationBorder {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }
    .decor {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 0;
      > span {
        position: absolute;
        bottom: -13px;
        left: 0;
        background-color: #000000;
        height: 20px;
        width: 100%;
      }
      > div {
        width: 100%;
        height: 100%;
        position: relative;
        > img:first-child {
          position: absolute;
          left: 10%;
          top: 29%;
          width: 31%;
        }
        > img:last-child {
          position: absolute;
          bottom: -6px;
          right: 10%;
          width: 48%;
        }
      }
    }
    > video {
      width: 100%;
      z-index: -1;
    }
  }
}
.CivilizationStoryContent {
  margin-top: 150px;
  .mainTitle {
    display: flex;
    align-items: flex-start;
  }
}
.contentDescription {
  position: relative;
  max-width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  > section {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  > div {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    > h3 {
      font-size: 36px;
      line-height: 36px;
    }
  }
}
.arrowsP {
  position: absolute;
  bottom: 0;
  left: 32%;
}
.arrowsG {
  position: absolute;
  position: absolute;
  top: 20%;
  left: 0px;
  > div {
    flex-direction: column;
  }
}

.videoBlock {
  position: relative;
  width: 889px;
  max-width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 200px;
  > img:first-child {
    position: absolute;
    z-index: 1;
    pointer-events: none;
    margin-bottom: 1px;
  }
  > video {
    width: 107%;
    height: auto;
    object-fit: cover;
    mask-image: url('../../styles/img/video-mask2.svg');
    mask-repeat: no-repeat;
    mask-size: 93.5%;
    mask-position: center;
  }
  .label {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
    width: 76%;
    z-index: 1;
  }
}
.description {
  margin-top: 40px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  > span {
    margin-bottom: 40px;
  }
}
.raceInfo {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  > div {
    display: flex;
    position: relative;
    width: 25%;
    height: 126px;
    margin-right: 20px;
    &:first-child {
      > div {
        > span {
          color: #f0b9a9;
        }
      }
    }
    > div {
      display: flex;
      flex-direction: column;
      margin-top: 22px;
      > span {
        font-family: "Syne-B";
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 38px;
        color: #ffffff;
        margin-bottom: 12px;
      }
      > p {
        font-size: 14px;
      }
    }
    .borderImg {
      position: absolute;
      width: 100%;
      top: 0;
      right: 0;
    }
  }
}
.groupButtons {
  max-width: 624px;
  margin-top: 3rem;
  margin-left: 70px;
  > div {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    > span {
      position: absolute;
      right: 14%;
      top: 89px;
      text-align: center;
      width: 434px;
    }
    > div {
      position: relative;
      > button {
        position: absolute;
        top: 2px;
        transition: all 0.4 ease-in-out;
        width: 244.5px;
        height: 46px;
        border-radius: 6px;
        font-family: "Syne-B";
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        cursor: pointer;
      }
    }
    .groupButtonLeft {
      > button {
        left: 57px;
      }
    }
    .groupButtonRight {
      > button {
        right: 55px;
      }
    }
  }
}
.buttonActive {
  background: linear-gradient(360deg, #efdda9 0%, #f0b9a9 100%);
  color: #010103;
  &:hover {
    background: linear-gradient(360deg, #f0b9a9 0%, #efdda9 100%);
  }
  &:active {
    background: linear-gradient(360deg, #efdda9 0%, #f0b9a9 100%);
  }
}
.buttonNonActive {
  background: linear-gradient(360deg, #000000 0%, #1e135c 100%),
    linear-gradient(180deg, rgba(26, 12, 54, 0) 0%, #1a0c36 100%);
  color: #99986c;
  &:hover {
    background: linear-gradient(360deg, #000000 0%, #1e135c 100%),
      linear-gradient(180deg, rgba(26, 12, 54, 0) 0%, #1a0c36 100%);
    color: #99986c;
  }
  // &:active {
  //   background: linear-gradient(360deg, #efdda9 0%, #f0b9a9 100%);
  // }
}

.card {
  position: relative;
  display: flex;
  outline: none;
  cursor: pointer;
  &-bg {
    margin-bottom: 15px;
    // padding: 0 !important;
  }
  &-title {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 45px;
    color: #EFDAA9;
    text-align: center;
  }
  &-fighterImage {
    position: absolute;
    top: -5px;
    filter: grayscale(1);
    // padding: 0 !important;
    &-active {
      filter: grayscale(0);
    }
  }
  &-locked {
    cursor: default;
  }
  &-margin {
    margin-right: 22px;
  }
}

@media only screen and (max-width: 1260px) {
  .CivilizationStoryContent {
    margin-top: 80px;
  }
  .contentDescription {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .buttonBlock {
    > div {
      > span {
        font-size: 18px;
        left: 27%;
        top: 23%;
      }
    }
  }
  .tickerText {
    font-size: 59px !important;
    line-height: 59px !important;
  }
  .mainTitle {
    > h2 {
      margin-bottom: 0 !important;
    }
  }
}

@media only screen and (max-width: 1080px) {
  .raceInfo {
    overflow: scroll;
    > div {
      width: 290px;
    }
  }
  .buttonBlock {
    > div {
      > span {
        font-size: 18px;
        top: 18%;
        left: 29%;
      }
    }
  }
}

@media only screen and (max-width: 960px) {
  .animationWrapper {
    margin-top: 50px;
    > div {
      width: 100%;
      height: 650px;
      .decor {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        > div {
          width: 100%;
          height: 100%;
          position: relative;
          > img:first-child {
            left: 64%;
            top: 7%;
          }
          > img:last-child {
            bottom: -6px;
            right: 25%;
            width: 64%;
          }
        }
      }
      > video {
        width: 200%;
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
  }
  .videoBlock {
    margin-bottom: 41px;
  }
  .tablet {
    display: block !important;
    margin: 0 auto;
  }
  .desktop {
    display: none !important;
  }
  .tickerText {
    font-size: 40px !important;
    line-height: 40px !important;
  }
  .mainHeader {
    height: 90px;
  }
  .groupButtons {
    margin-left: 0;
    width: 100%;
  }
  .buttonBlock {
    top: 0%;
    left: 7%;
    width: 42%;
    > div {
      > span {
        font-size: 16px;
        top: 24%;
        left: 35%;
      }
    }
  }
  .arrowsP {
    bottom: 4px;
    left: 54.5%;
  }
  .arrowsG {
    top: 15%;
  }
}

@media only screen and (max-width: 770px) {
  .buttonBlock {
    > div {
      > span {
        left: 31%;
        top: 16%;
        font-size: 14px;
      }
    }
  }
}

@media only screen and (max-width: 680px) {
  .animationWrapper {
    > div {
      height: 445px;
    }
  }
  .contentDescription {
    > div {
      > span {
        font-size: 1rem;
        line-height: 1.4rem;
      }
    }
  }
  .tablet {
    display: none !important;
    margin: 0 auto;
  }
  .desktop {
    display: none !important;
  }
  .mobile {
    display: block !important;
  }
  .arrowsP {
    bottom: 8px;
    left: 59.5%;
  }
  .arrowsG {
    top: 14%;
    left: 6px;
  }
}

@media only screen and (max-width: 560px) {
  .buttonBlock {
    > div {
      > span {
        top: 6%;
        font-size: 12px;
      }
    }
  }
}


@media only screen and (min-width: 1920px) {
  .CivilizationStoryContent {
    margin-top: 200px;
  }
}