.main {
  position: relative;
  padding-top: 189px;
  > img {
    position: absolute;
    width: 100%;
    top: 188px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.decoration {
  position: absolute;
  top: 41%;
  right: 0;
  z-index: -1;
}
.playVideo {
  position: absolute;
  max-width: 150px;
  max-height: 150px;
  cursor: pointer;
  > img {
    width: 100%;
  }
}
.mainHeader {
  width: 100%;
  height: 154px;
  background-image: url(../../styles/img/civilizations/main_header_back.png);
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  > div {
    animation: marquee 10s infinite linear;
    width: 300%;
    height: 100%;
    position: absolute;
    > span {
      // right: 30%;
      width: 33%;
      margin-right: 60px;
      font-family: "Syne";
      font-style: normal;
      font-weight: 600;
      font-size: 96px;
      line-height: 144px;
      color: #efdaa9;
    }
  }
  > img {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
  }
}
.content {
  width: 85%;
  > h1 {
    margin-bottom: 50px;
  }
  > h6 {
    font-family: "Syne";
    font-style: normal;
    font-weight: bold;
    margin: 0 auto;
    font-size: 46px;
    line-height: 60px;
    text-align: center;
    color: #a36abc;
    margin-top: 70px;
    margin-bottom: 120px;
    max-width: 560px;
  }
}
.tablet {
  display: none;
  width: 100%;
}
.mobile {
  display: none;
  width: 100%;
}
.desktop {
  display: block;
  width: 100%;
}

.slides {
  &-buttons {
    position: absolute;
    left: 5.2vw;
    top: 0.7vw;
    display: inline-flex;
    align-items: center;
    width: 33vw;
    max-width: 555px;
    z-index: 2;
  }
  &-button {
    position: relative;
    flex-shrink: 1;
    border-radius: 8px;
    flex-basis: 36%;
    height: 4.8vw;
    max-height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    transition: all 375ms ease;
    &:first-child {
      margin-right: 16px;
    }
    &-bg {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      border-radius: inherit;
      background: linear-gradient(360deg, #000000 0%, #1e135c 100%),
        linear-gradient(180deg, rgba(26, 12, 54, 0) 0%, #1a0c36 100%);
      background-clip: padding-box;
      transform: skewX(-45deg);
    }
    &-border {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -2;
      margin: -1px;
      border-radius: inherit;
      background: linear-gradient(0deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
      transform: skewX(-45deg);
    }
    > span {
      position: absolute;
      outline: none;
      font-family: "Syne-B", serif;
      font-weight: bold;
      font-size: 1.222rem;
      line-height: 1;
      transition: all 375ms ease;
    }
  }
}

.animationWrapper {
  position: relative;
  margin-top: 100px;
  > div {
    width: 100%;
    max-height: 810px;
    position: relative;
    overflow: hidden;
    .animationBorder {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }
    .decor {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 0;
      > span {
        position: absolute;
        bottom: -13px;
        left: 0;
        background-color: #000000;
        height: 20px;
        width: 100%;
      }
      > div {
        width: 100%;
        height: 100%;
        position: relative;
        > img:first-child {
          position: absolute;
          left: 10%;
          top: 29%;
          width: 31%;
        }
        > img:last-child {
          position: absolute;
          bottom: -6px;
          right: 10%;
          width: 48%;
        }
      }
    }
    > video {
      width: 100%;
      z-index: -1;
    }
  }
}
.CivilizationStoryContent {
  margin-top: 172px;
  .mainTitle {
    display: flex;
    align-items: flex-start;
    margin-bottom: 58px;
  }
  .fightersTitle {
    margin-bottom: 65px;
  }
}
.CivilizationStoryContentContainer {
  width: 85%;
}
.contentDescription {
  position: relative;
  max-width: 100%;
  margin-top: 22px;
  margin-bottom: 55px;
  > section {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  > div {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 60px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    > h3 {
      font-size: 36px;
      line-height: 36px;
    }
  }
  &.fighter-description {
    width: 90%;
    margin: 22px auto 110px;
  }
}
.arrowsP {
  position: absolute;
  bottom: 0;
  left: 31.5%;
}
.arrowsG {
  position: absolute;
  position: absolute;
  top: 20%;
  left: 0px;
  > div {
    flex-direction: column;
  }
}

.videoBlock {
  position: relative;
  width: 889px;
  max-width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 81px;
  margin-bottom: 265px;
  > img:first-child {
    position: absolute;
    z-index: 1;
    pointer-events: none;
    margin-bottom: 1px;
  }
  > video {
    width: 107%;
    height: auto;
    object-fit: cover;
    mask-image: url("../../styles/img/video-mask2.svg");
    mask-repeat: no-repeat;
    mask-size: 93.5%;
    mask-position: center;
  }
  .label {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
    width: 76%;
    z-index: 1;
  }
}
.description {
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  > span {
    margin-bottom: 40px;
  }
}
.raceInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 91px;
  > div {
    display: flex;
    position: relative;
    width: 25%;
    > div {
      display: flex;
      flex-direction: column;
      margin-top: 36px;
      > span {
        font-family: "Syne-B";
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 38px;
        color: #ffffff;
        margin-bottom: 12px;
      }
      > p {
        font-size: 14px;
      }
    }
    .borderImg {
      position: absolute;
      width: 100%;
      top: 0;
      right: 0;
    }
  }
}
.groupButtons {
  max-width: 624px;
  margin-top: 99px;
  margin-left: 82px;
  > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    > span {
      position: absolute;
      width: 434px;
      padding-top: 1.1vw;
      font-size: 1rem;
      line-height: 1.5rem;
      text-align: center;
    }
    > div {
      position: relative;
      width: 50%;
      > button {
        position: absolute;
        top: 2px;
        transition: all 0.4 ease-in-out;
        width: 78%;
        height: 46px;
        border-radius: 6px;
        font-family: "Syne-B";
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        cursor: pointer;
      }
      > img {
        max-width: 100%;
      }
    }
    .groupButtonLeft {
      > button {
        left: 57px;
      }
    }
    .groupButtonRight {
      > button {
        right: 55px;
      }
    }
  }
}
.buttonActive {
  background: linear-gradient(360deg, #efdda9 0%, #f0b9a9 100%);
  color: #010103;
  &:hover {
    background: linear-gradient(360deg, #f0b9a9 0%, #efdda9 100%);
  }
  &:active {
    background: linear-gradient(360deg, #efdda9 0%, #f0b9a9 100%);
  }
}
.buttonNonActive {
  background: linear-gradient(360deg, #000000 0%, #1e135c 100%),
    linear-gradient(180deg, rgba(26, 12, 54, 0) 0%, #1a0c36 100%);
  color: #99986c;
  &:hover {
    background: linear-gradient(360deg, #000000 0%, #1e135c 100%),
      linear-gradient(180deg, rgba(26, 12, 54, 0) 0%, #1a0c36 100%);
    color: #99986c;
  }
  // &:active {
  //   background: linear-gradient(360deg, #efdda9 0%, #f0b9a9 100%);
  // }
}
.paddingText {
  padding-left: 20px;
  padding-right: 20px;
}
.card {
  position: relative;
  display: flex;
  outline: none;
  cursor: pointer;
  &-bg {
    margin-bottom: 15px;
    // width: 400px !important;
    // padding: 0 !important;
  }
  &-title {
    font-family: "Syne";
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 45px;
    color: #efdaa9;
    text-align: center;
  }
  &-fighterImage {
    position: absolute;
    top: -0.43vw;
    filter: grayscale(1);
    // width: 400px !important;
    // padding: 0 !important;
    &-active {
      filter: grayscale(0);
    }
  }
  &-locked {
    cursor: default;
  }
  &-margin {
    margin-right: 22px;
  }
}

@media only screen and (min-width: 1860px) {
  .slides {
    &-buttons {
      left: 6%;
      top: 2%;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .main {
    padding-top: 99px;
    > img {
      top: 96px;
    }
  }
  .animationWrapper {
    margin-top: 59px;
    > div {
      width: 100%;
      height: 90vw;
      display: flex;
      justify-content: center;
      max-height: unset;
      > video {
        width: 184%;
        position: absolute;
        bottom: 0;
      }
      .decor {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        > div {
          width: 100%;
          height: 100%;
          position: relative;
          display: flex;
          justify-content: center;
          > img:first-child {
            left: 61%;
            top: 5%;
          }
          > img:last-child {
            bottom: 0;
            right: 14%;
            width: 81%;
          }
        }
      }
    }
  }

  .slides {
    &-buttons {
      left: 6.8vw;
      top: 1vw;
      width: 38vw;
      max-width: 470px;
    }
    &-button {
      flex-basis: 50%;
      height: 6vw;
      max-height: 72px;
      &:first-child {
        margin-right: 1.5vw;
      }
      > span {
        font-size: 2.3vw;
      }
    }
  }

  .raceInfo {
    position: relative;
    justify-content: flex-start;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-top: 54px;
    -webkit-overflow-scrolling: touch;
    > div {
      min-width: 290px;
      width: auto;
      max-width: 90%;
      &:not(:last-child) {
        margin-right: 18px;
      }
    }
  }

  .CivilizationStoryContent {
    margin-top: 110px;
    margin-bottom: 118px;
    .mainTitle {
      margin-bottom: 32px;
    }
    .fightersTitle {
      margin-bottom: 18px;
    }
  }

  .CivilizationStoryContentContainer {
    width: 100%;
    padding: 0 32px;
  }

  .decoration {
    display: none;
  }

  .contentDescription {
    margin-bottom: 72px;
    margin-top: 0;
    &.fighter-description {
      width: 100%;
      padding: 0 32px;
      > div {
        padding: 60px 90px;
      }
    }
    > div {
      > h3 {
        font-size: 32px;
        margin-bottom: 20px;
      }
      > span {
        font-size: 1.6rem;
        line-height: 2.6rem;
      }
    }
  }

  .videoBlock {
    margin-bottom: 161px;
  }

  .description {
    margin-top: 0;
  }

  .card {
    &-title {
      margin-bottom: 0;
    }
    // &-fighterImage {
    //   top: 25px;
    // }
  }

  .content {
    width: 100%;
    padding: 0 32px;
  }

  .tablet {
    display: block !important;
    margin: 0 auto;
  }
  .desktop {
    display: none !important;
  }
  .mainHeader {
    height: 90px;
  }
  .groupButtons {
    margin-left: 0;
    width: 100%;
  }
  .arrowsP {
    bottom: 4px;
    left: 51.5%;
  }
  .arrowsG {
    top: 15%;
  }
}

@media only screen and (max-width: 1024px) {
  .contentDescription {
    > div {
      > span {
        font-size: 1.1rem;
        line-height: 1.8rem;
      }
    }
  }
  .slidesButtonText {
    font-size: 1rem !important;
  }
}

@media only screen and (max-width: 830px) {
  .contentDescription {
    > div {
      > span {
        font-size: 1.111rem;
        line-height: 1.5rem;
      }
    }
  }
  .arrowsP {
    bottom: 0px;
    left: 49.5%;
  }
}

@media only screen and (max-width: 768px) {
  .slides {
    &-buttons {
      width: 36vw;
    }
  }

  .groupButtons {
    max-width: 100%;
    > div {
      > div {
        &:last-of-type {
          text-align: right;
        }
      }
      .groupButtonRight {
        > button {
          right: 57px;
        }
      }
    }
  }

  .contentDescription {
    &.fighter-description {
      > div {
        padding: 60px 80px;
      }
    }
  }

  .videoBlock {
    margin-top: 32px;
    margin-bottom: 170px;
  }

  .card {
    &-fighterImage {
      top: -0.6vw;
    }
  }
}

@media only screen and (max-width: 680px) {
  .contentDescription {
    > div {
      > span {
        font-size: 1.2rem;
      }
    }
  }
  .slidesButtonText {
    font-size: 0.8rem !important;
  }
  .tablet {
    display: none !important;
    margin: 0 auto;
  }
  .desktop {
    display: none !important;
  }
  .mobile {
    display: block !important;
  }
  .arrowsP {
    bottom: 8px;
    left: 53.5%;
  }
  .arrowsG {
    top: 14%;
    left: 6px;
  }
  .groupButtonRight {
    > button {
      right: 46px !important;
    }
  }
  .groupButtonLeft {
    > button {
      left: 46px !important;
    }
  }
  .groupButtons {
    > div {
      > span {
        left: 8%;
        top: 44%;
      }
    }
  }
}

@media only screen and (max-width: 560px) {
  .contentDescription {
    > div {
      > span {
        font-size: 0.9rem;
      }
    }
  }
  .descriptionText {
    > span {
      padding: 0;
    }
  }
}

@media only screen and (max-width: 480px) {
  .main {
    padding-top: 97px;
  }
  .mainHeader {
    height: 50px;
  }
  .slidesButtonText {
    font-size: 0.7rem !important;
  }
  .content {
    > h6 {
      margin-top: 80px;
      font-size: 24px;
      line-height: 36px;
      max-width: 80%;
    }
  }
  .animationWrapper {
    margin-top: 46px;
    > div {
      > video {
        width: 200%;
      }
    }
  }
  .slides {
    &-buttons {
      left: 4.2vw;
      width: 35vw;
    }
    &-button {
      border-radius: 4px;
    }
  }

  .raceInfo {
    margin-top: 45px;
    padding-left: 10px;
    > div {
      min-width: 230px;
      &:not(:last-child) {
        margin-right: 14px;
      }
      > div {
        margin-top: 26px;
        span {
          font-size: 25px;
          line-height: 30px;
        }
      }
    }
  }

  .CivilizationStoryContent {
    margin-top: 69px;
    .mainTitle {
      margin-bottom: 42px;
    }
    // .fightersTitle {

    // }
  }

  .descriptionText {
    > span {
      font-size: 0.7888rem !important;
      line-height: 1.1rem !important;
    }
  }

  .contentDescription {
    margin-bottom: 0;
    &.fighter-description {
      margin-bottom: 0;
      .arrowsP {
        left: 48%;
      }
    }
    > div {
      padding: 60px 50px;
      > h3 {
        font-size: 24px;
        line-height: 23px;
      }
      > span {
        font-size: 0.8888rem;
        line-height: 1.2rem;
      }
    }
  }

  .groupButtons {
    margin-top: 2rem;
    max-width: 100%;
    > div {
      justify-content: center;
      .groupButtonLeft {
        margin-right: 15px;
        > button {
          left: 28px !important;
        }
        > img {
          margin-left: -8px;
        }
      }
      .groupButtonRight {
        > button {
          right: 28px !important;
        }
        > img {
          margin-left: 8px;
          transform: scaleX(-1);
        }
      }
      > span {
        width: 290px;
        left: auto;
        right: auto;
        top: 60px;
        font-size: 14px !important;
        line-height: 21px !important;
      }
      > div {
        width: 168px;
        > img {
          max-width: 100%;
          pointer-events: none;
        }
        > button {
          width: 140px;
          font-size: 12px;
          line-height: 14px;
        }
      }
    }
  }

  .arrowsP {
    bottom: -1px;
    left: 57%;
  }
  .arrowsG {
    top: 12%;
    left: -3px;
  }

  .videoBlock {
    margin-top: 28px;
    margin-bottom: 165px;
    .label {
      width: 100%;
      top: auto;
      bottom: -64px;
      transform: translate(-50%, 0);
    }
  }

  .description {
    margin-bottom: 46px;
    > span {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .CivilizationStoryContent {
    margin-bottom: 48px;
  }
}

@media only screen and (max-width: 400px) {
  .contentDescription {
    > div {
      padding: 60px 30px;
      > span {
        font-size: 0.6rem;
        line-height: 1rem;
      }
    }
  }
}

@media only screen and (min-width: 1920px) {
  .CivilizationStoryContent {
    margin-top: 200px;
  }

  .contentDescription {
    > div {
      > span {
        font-size: 1.16rem;
        line-height: 2.5rem;
      }
    }
  }
}
