.main {
  width: 100%;
  > section {
    position: relative;
    background-color: #000000;
    width: 100%;
    height: 134px;
    > img {
      position: absolute;
      left: 20%;
      bottom: 0;
    }
  }
  .mainHeader {
    width: 100%;
    height: 154px;
    background-image: url(../../styles/img/civilizations/main_header_back.png);
    background-position: center;
    background-size: cover;
    position: relative;
    > span {
      position: absolute;
      right: 30%;
      font-family: 'Syne';
      font-style: normal;
      font-weight: 600;
      font-size: 96px;
      line-height: 144px;
      color: #EFDAA9;
     }
     > img {
      position: absolute;
      left: 20%;
      bottom: 0;
    }
  }
  .tablet {
    display: none;
    max-width: 100%;
  }
  .mobile {
    display: none;
    // max-width: 100%;
  }
  .desktop {
    display: block;
    max-width: 100%;
  }

 .mainInfo {
  width: 100%;
  height: 600px;
  // background-image: url(../../styles/img/civilizations/background_1.png);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  position: relative;
  .decorLine {
   width: 100%;
   height: 338px;
   background: linear-gradient(180deg, rgba(1, 1, 3, 0) 0%, #010103 100%);
   position: absolute;
   bottom: 0;
  }
  > span {
    position: absolute;
    font-family: 'Syne';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #EFDAA9;
    bottom: 70px;
  }
 }
}

.content {
  > h1 {
    margin-bottom: 50px;
  }
  > h6 {
    font-family: 'Syne';
    font-style: normal;
    font-weight: bold;
    margin: 0 auto;
    font-size: 46px;
    line-height: 60px;
    text-align: center;
    color: #A36ABC;
    margin-top: 70px;
    margin-bottom: 120px;
    max-width: 610px;
  }
  .contentDescription {
    position: relative;
    max-width: 100%;
    > span {
      position: absolute;
      max-width: 1000px;
      left: 100px;
      top: 76px;
    }
  }
}

@media only screen and (max-width: 1260px) {
  .contentDescription > span {
    left: 52px !important;
    top: 51px !important;
  }
}

@media only screen and (max-width: 1080px) {
  .contentDescription {
    max-width: 700px !important;
    margin: 0 auto;
    > span {
      max-width: 550px !important;
      left: 67px !important;
      top: 56px !important;
    }
  }
  .tablet {
    display: block !important;
    margin: 0 auto;
  }
  .desktop {
    display: none !important;
  }
}

@media only screen and (max-width: 770px) {
  .contentDescription > span {
    line-height: 20px;
    top: 43px !important;
  }
}

@media only screen and (max-width: 680px) {
  .contentDescription {
    max-width: 320px !important;
    margin: 0 auto;
    > span {
      max-width: 600px !important;
      left: 67px !important;
      top: 56px !important;
      font-size: 12px !important;
      line-height: 17px;
    }
  }
  .tablet {
    display: none !important;
    margin: 0 auto;
  }
  .desktop {
    display: none !important;
  }
  .mobile {
    display: block !important;
    margin: 0 auto;
  }
}