.main {
  position: relative;
  padding-top: 189px;
  > img {
    position: absolute;
    width: 100%;
    top: 188px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.decoration {
  position: absolute;
  top: 45%;
  right: 0;
  z-index: -1;
}

.mainHeader {
  width: 100%;
  height: 154px;
  background-image: url(../../styles/img/civilizations/main_header_back.png);
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  > div {
    animation: marquee 10s infinite linear;
    width: 300%;
    height: 100%;
    position: absolute;
    > span {
      // right: 30%;
      width: 33%;
      margin-right: 60px;
      font-family: "Syne";
      font-style: normal;
      font-weight: 600;
      font-size: 96px;
      line-height: 144px;
      color: #efdaa9;
    }
  }
  > img {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
  }
}
.content {
  width: 85%;
  > h1 {
    margin-bottom: 50px;
  }
  > h6 {
    font-family: "Syne";
    font-style: normal;
    font-weight: bold;
    margin: 0 auto;
    font-size: 46px;
    line-height: 60px;
    text-align: center;
    color: #a36abc;
    margin-top: 70px;
    margin-bottom: 120px;
    max-width: 560px;
  }
}
.tablet {
  display: none;
  width: 100%;
}
.mobile {
  display: none;
  width: 100%;
}
.desktop {
  display: block;
  width: 100%;
}
.buttonBlock {
  position: absolute;
  top: 3%;
  left: 4%;
  width: 32%;
  z-index: 1;
  display: flex;
  align-items: center;
  > div {
    max-width: 277px;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    > img {
      z-index: 2;
      max-width: 100%;
    }
    > span {
      z-index: 3;
      position: absolute;
      font-family: "Syne";
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 26px;
      text-align: center;
    }
    &:first-child {
      margin-left: 20px;
    }
  }
}
.animationWrapper {
  margin-top: 100px;
  > div {
    width: 100%;
    max-height: 810px;
    position: relative;
    overflow: hidden;
    .animationBorder {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }
    .decor {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 0;
      > span {
        position: absolute;
        bottom: -13px;
        left: 0;
        background-color: #000000;
        height: 20px;
        width: 100%;
      }
      > div {
        width: 100%;
        height: 100%;
        position: relative;
        > img:first-child {
          position: absolute;
          left: 10%;
          top: 29%;
          width: 31%;
        }
        > img:last-child {
          position: absolute;
          bottom: -6px;
          right: 10%;
          width: 48%;
        }
      }
    }
    > video {
      width: 100%;
      z-index: -1;
    }
  }
}
.CivilizationStoryContent {
  margin-top: 142px;
  .mainTitle {
    display: flex;
    align-items: flex-start;
    margin-bottom: 58px;
  }
  .fightersTitle {
    margin-bottom: 65px;
  }
}
.CivilizationStoryContentContainer {
  width: 85%;
}
.contentDescription {
  position: relative;
  max-width: 100%;
  margin-top: 22px;
  margin-bottom: 55px;
  > section {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  > div {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 60px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    > h3 {
      font-size: 36px;
      line-height: 36px;
    }
  }
  &.fighter-description {
    width: 90%;
    margin: 22px auto 110px;
  }
}
.arrowsP {
  position: absolute;
  bottom: 0;
  left: 32%;
}
.arrowsG {
  position: absolute;
  position: absolute;
  top: 20%;
  left: 0px;
  > div {
    flex-direction: column;
  }
}

.videoBlock {
  position: relative;
  width: 889px;
  max-width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 56px;
  margin-bottom: 265px;
  > img:first-child {
    position: absolute;
    z-index: 1;
    pointer-events: none;
    margin-bottom: 1px;
  }
  > video {
    width: 107%;
    height: auto;
    object-fit: cover;
    mask-image: url('../../styles/img/video-mask2.svg');
    mask-repeat: no-repeat;
    mask-size: 93.5%;
    mask-position: center;
  }
  .label {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
    width: 76%;
    z-index: 1;
  }
}
.description {
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  > span {
    margin-bottom: 40px;
  }
}
.raceInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 91px;
  > div {
    display: flex;
    position: relative;
    width: 25%;
    &:first-child {
      > div {
        > span {
          color: #f0b9a9;
        }
      }
    }
    > div {
      display: flex;
      flex-direction: column;
      margin-top: 36px;
      > span {
        font-family: "Syne-B";
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 38px;
        color: #ffffff;
        margin-bottom: 12px;
      }
      > p {
        font-size: 14px;
      }
    }
    .borderImg {
      position: absolute;
      width: 100%;
      top: 0;
      right: 0;
    }
  }
}
.groupButtons {
  max-width: 624px;
  margin-top: 3rem;
  margin-left: 70px;
  > div {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    > span {
      position: absolute;
      right: 14%;
      top: 89px;
      text-align: center;
      width: 434px;
    }
    > div {
      position: relative;
      > button {
        position: absolute;
        top: 2px;
        transition: all 0.4 ease-in-out;
        width: 244.5px;
        height: 46px;
        border-radius: 6px;
        font-family: "Syne-B";
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        cursor: pointer;
      }
    }
    .groupButtonLeft {
      > button {
        left: 57px;
      }
    }
    .groupButtonRight {
      > button {
        right: 55px;
      }
    }
  }
}
.buttonActive {
  background: linear-gradient(360deg, #efdda9 0%, #f0b9a9 100%);
  color: #010103;
  &:hover {
    background: linear-gradient(360deg, #f0b9a9 0%, #efdda9 100%);
  }
  &:active {
    background: linear-gradient(360deg, #efdda9 0%, #f0b9a9 100%);
  }
}
.buttonNonActive {
  background: linear-gradient(360deg, #000000 0%, #1e135c 100%),
    linear-gradient(180deg, rgba(26, 12, 54, 0) 0%, #1a0c36 100%);
  color: #99986c;
  &:hover {
    background: linear-gradient(360deg, #000000 0%, #1e135c 100%),
      linear-gradient(180deg, rgba(26, 12, 54, 0) 0%, #1a0c36 100%);
    color: #99986c;
  }
  // &:active {
  //   background: linear-gradient(360deg, #efdda9 0%, #f0b9a9 100%);
  // }
}

.card {
  position: relative;
  display: flex;
  outline: none;
  cursor: pointer;
  &-bg {
    margin-bottom: 15px;
    width: 400px !important;
    // padding: 0 !important;
  }
  &-title {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 45px;
    color: #EFDAA9;
    text-align: center;
  }
  &-fighterImage {
    position: absolute;
    top: -5px;
    filter: grayscale(1);
    width: 400px !important;
    // padding: 0 !important;
    &-active {
      filter: grayscale(0);
    }
  }
  &-locked {
    cursor: default;
  }
  &-margin {
    margin-right: 22px;
  }
}

@media only screen and (max-width: 1200px) {
  .main {
    padding-top: 99px;
    > img {
      top: 96px;
    }
  }
  .animationWrapper {
    margin-top: 59px;
    > div {
      width: 100%;
      height: 716px;
      display: flex;
      justify-content: center;
      > video {
        width: 181%;
        position: absolute;
        bottom: 0;
      }
      .decor {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        > div {
          width: 100%;
          height: 100%;
          position: relative;
          display: flex;
          justify-content: center;
          > img:first-child {
            left: 61%;
            top: 5%;
          }
          > img:last-child {
            bottom: 0;
            right: 14%;
            width: 81%;
          }
        }
      }
    }
  }

  .buttonBlock {
    top: 1%;
    left: 7%;
    width: 42%;
    > div {
      > span {
        font-size: 16px;
      }
    }
  }

  .raceInfo {
    position: relative;
    justify-content: flex-start;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-top: 54px;
    -webkit-overflow-scrolling: touch;
    > div {
      min-width: 290px;
      width: auto;
      max-width: 90%;
      &:not(:last-child) {
        margin-right: 18px;
      }
    }
  }

  .CivilizationStoryContent {
    margin-top: 110px;
    margin-bottom: 118px;
    .mainTitle {
      margin-bottom: 32px;
    }
    .fightersTitle {
      margin-bottom: 18px;
    }
  }

  .CivilizationStoryContentContainer {
    width: 100%;
    padding: 0 32px;
  }

  .decoration {
    display: none;
  }

  .contentDescription {
    margin-bottom: 72px;
    margin-top: 0;
    &.fighter-description {
      width: 100%;
      padding: 0 32px;
    }
    > div {
      > h3 {
        font-size: 32px;
        margin-bottom: 20px;
      }
    }
  }

  .videoBlock {
    margin-bottom: 161px;
  }

  .description {
    margin-top: 0;
  }

  .card {
    &-title {
      margin-bottom: 0;
    }
    // &-fighterImage {
    //   top: 25px;
    // }
  }

  .content {
    width: 100%;
    padding: 0 32px;
  }

  .tablet {
    display: block !important;
    margin: 0 auto;
  }
  .desktop {
    display: none !important;
  }
  .mainHeader {
    height: 90px;
  }
  .groupButtons {
    margin-left: 0;
    width: 100%;
  }
  .arrowsP {
    bottom: 4px;
    left: 54.5%;
  }
  .arrowsG {
    top: 15%;
  }
}

@media only screen and (max-width: 770px) {
  .buttonBlock {
    > div {
      > span {
        font-size: 14px;
      }
    }
  }
}

@media only screen and (max-width: 680px) {
  
  .contentDescription {
    > div {
      > span {
        font-size: 1rem;
        line-height: 1.4rem;
      }
    }
  }
  .tablet {
    display: none !important;
    margin: 0 auto;
  }
  .desktop {
    display: none !important;
  }
  .mobile {
    display: block !important;
  }
  .arrowsP {
    bottom: 8px;
    left: 59.5%;
  }
  .arrowsG {
    top: 14%;
    left: 6px;
  }
}

@media only screen and (max-width: 560px) {
  .buttonBlock {
    > div {
      > span {
        // top: 6%;
        font-size: 12px;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .main {
    padding-top: 97px;
  }
  .mainHeader {
    height: 50px;
  }

  .content {
    > h6 {
      margin-top: 80px;
      font-size: 24px;
      line-height: 36px;
      max-width: 80%;
    }
  }

  .animationWrapper {
    margin-top: 46px;
    > div {
      height: 362px;
      > video {
        width: 184%;
      }
    }
  }
  .buttonBlock {
    width: 52%;
    left: -1%;
  }

  .raceInfo {
    margin-top: 45px;
    padding-left: 10px;
    > div {
      min-width: 230px;
      &:not(:last-child) {
        margin-right: 14px;
      }
      > div {
        margin-top: 26px;
        span {
          font-size: 25px;
          line-height: 30px;
        }
      }
    }
  }

  .CivilizationStoryContent {
    margin-top: 69px;
    .mainTitle {
      margin-bottom: 42px;
    }
    // .fightersTitle {
      
    // }
  }

  .contentDescription {
    margin-bottom: 0;
    &.fighter-description {
      margin-bottom: 0;
      .arrowsP {
        left: 48%;
      }
    }
    > div {
      > h3 {
        font-size: 24px;
        line-height: 23px;
      }
    }
  }

  .groupButtons {
    margin-top: 2rem;
    max-width: 100%;
    > div {
      justify-content: center;
      .groupButtonLeft {
        margin-right: 15px;
        > button {
          left: 28px;
        }
        > img {
          margin-left: -8px;
        }
      }
      .groupButtonRight {
        > button {
          right: 28px;
        }
        > img {
          margin-left: 8px;
          transform: scaleX(-1);
        }
      }
      > span {
        width: 290px;
        left: auto;
        right: auto;
        top: 60px;
        font-size: 14px !important;
        line-height: 21px !important;
      }
      > div {
        width: 168px;
        > img {
          max-width: 100%;
          pointer-events: none;
        }
        > button {
          width: 140px;
          font-size: 12px;
          line-height: 14px;
        }
        
      }
    }
  }

  .arrowsP {
    bottom: -1px;
    left: 57%;
  }
  .arrowsG {
    top: 12%;
    left: -3px;
  }

  .videoBlock {
    margin-top: 28px;
    margin-bottom: 165px;
    .label {
      width: 100%;
      top: auto;
      bottom: -64px;
      transform: translate(-50%, 0);
    }
  }

  .description {
    margin-bottom: 46px;
    > span {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .card {
    &-fighterImage {
      top: 18px;
      width: 303px !important;
    }
  }

  .CivilizationStoryContent {
    margin-bottom: 48px;
  }
}


@media only screen and (min-width: 1920px) {
  .CivilizationStoryContent {
    margin-top: 200px;
  }
}