.mainButton {
  min-width: 280px;
  height: 44px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  outline: none;
  text-decoration: none;
  z-index: 1;
  &.doubleStripe {
    .mainButtonContent {
      padding-right: 39px;
      padding-left: 65px;
    }
  }
  &.small {
    height: 33px;
    min-width: 198px;
    .mainButtonStripe {
      width: 18px;
      left: 24px;
    }
    .mainButtonContent {
      min-width: 176px;
    }
  }
  .mainButtonStripe {
    position: relative;
    left: 29px;
    width: 30px;
    height: 100%;
    transform: skewX(-53deg);
    margin-right: 7px;
    flex-shrink: 0;
    overflow: hidden;
    &:before, &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 200%;
      bottom: 0;
      left: 0;
      background: linear-gradient(0deg, #EFDDA9 20%, #F0A8A8 50%, #EFDDA9 80%);
      transition: all 375ms ease;
    }
    &:before {
      background: linear-gradient(0deg, #7A4F93 20%, #694DA0 50%, #7A4F93 80%);
      opacity: 0;
    }
    &.purple {
      &:before {
        opacity: 1;
      }
      &:after {
        opacity: 0;
      }
    }
  }
  .mainButtonContent {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 243px;
    > span {
      font-family: 'Syne';
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: #EFEFEF;
      white-space: nowrap;
    }
  }
  &:hover {
    .mainButtonStripe {
      &:after, &:before {
        transform: translateY(50%);
      }
      &.purple {
        &:after {
          opacity: 1;
        }
        &:before {
          opacity: 0;
        }
      }
    }
    .button-bg-path {
      &.hover {
        opacity: 1;
      }
    }
    .mainButtonContent {
      > span {
        transition: all 375ms ease;
        color: #131313;
      }
    }
  }
  .button-bg {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    object-fit: contain;
    .button-bg-path.purple {
      display: none;
    }
    &.purple {
      .button-bg-path.purple {
        display: block;
      }
      .button-bg-path.default {
        display: none;
      }
    }
    &-path {
      transition: all 375ms ease;
      &.hover {
        opacity: 0;
      }
    }
  }
}
.social {
  display: flex;
  margin-left: 35px;
  > a {
    margin-right: 8px;
  }
  .socialWrapper {
    > div {
      width: 40px;
      height: 40px;
      background: rgba(45, 48, 61, 0.2);
      box-shadow: inset 0px -2.29885px 5.51724px rgba(239, 221, 169, 0.6), inset 0px 0.91954px 1.83908px rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(13.7931px);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease-in-out;
    }
    &:hover {
      > div {
        background: linear-gradient(79.28deg, #EFDDA9 24.27%, #F0A8A8 94.78%);
      }
    }
  }
}