.mainButton {
  min-width: 280px;
  height: 44px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  outline: none;
  text-decoration: none;
  z-index: 1;
  &.doubleStripe {
    .mainButtonContent {
      padding-right: 39px;
      padding-left: 65px;
    }
  }
  &.small {
    height: 33px;
    min-width: 198px;
    .mainButtonStripe {
      width: 18px;
      left: 21px;
    }
    .mainButtonContent {
      min-width: 176px;
    }
  }
  .mainButtonStripe {
    position: relative;
    left: 28px;
    width: 30px;
    height: 100%;
    transform: skewX(-53deg);
    margin-right: 7px;
    flex-shrink: 0;
    overflow: hidden;
    &:before, &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 200%;
      bottom: 0;
      left: 0;
      background: linear-gradient(0deg, #EFDDA9 20%, #F0A8A8 50%, #EFDDA9 80%);
      transition: all 375ms ease;
    }
    &:before {
      background: linear-gradient(0deg, #7A4F93 20%, #694DA0 50%, #7A4F93 80%);
      opacity: 0;
    }
    &.purple {
      &:before {
        opacity: 1;
      }
      &:after {
        opacity: 0;
      }
    }
  }
  .mainButtonContent {
    position: relative;
    display: flex;
    align-items: center;
    // justify-content: center;
    padding-left: 79px;
    height: 100%;
    min-width: 243px;
    > span {
      font-family: 'Syne-B';
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: #EFEFEF;
      white-space: nowrap;
    }
  }
  &:hover {
    .mainButtonStripe {
      &:after, &:before {
        transform: translateY(50%);
      }
      &.purple {
        &:after {
          opacity: 1;
        }
        &:before {
          opacity: 0;
        }
      }
    }
    .button-bg-path {
      &.hover {
        opacity: 1;
      }
    }
    .mainButtonContent {
      > span {
        transition: all 375ms ease;
        color: #131313;
      }
    }
  }
  .button-bg {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    .button-bg-path.purple {
      display: none;
    }
    &.purple {
      .button-bg-path.purple {
        display: block;
      }
      .button-bg-path.default {
        display: none;
      }
    }
    &-path {
      transition: all 375ms ease;
      &.hover {
        opacity: 0;
      }
    }
  }
}
.social {
  display: flex;
  margin-left: 35px;
  > a {
    margin-right: 8px;
  }
  .socialWrapper {
    > div {
      width: 40px;
      height: 40px;
      background: rgba(45, 48, 61, 0.2);
      box-shadow: inset 0px -2.29885px 5.51724px rgba(239, 221, 169, 0.6), inset 0px 0.91954px 1.83908px rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(13.7931px);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease-in-out;
    }
    &:hover {
      > div {
        background: linear-gradient(79.28deg, #EFDDA9 24.27%, #F0A8A8 94.78%);
      }
    }
  }
}

.slide {
  &-buttons-container {
    display: inline-flex;
    align-items: center;
    width: 240px;
    max-width: 240px;
    z-index: 2;
  }
  &-button {
    position: relative;
    flex-shrink: 1;
    border-radius: 6px;
    flex-basis: 39.5%;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    &:hover {
      .slide-button-bg {
        transform: translateY(50%);
      }
    }
    &:first-child {
      margin-right: 16px;
    }
    &-bg-wrap {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: inherit;
      overflow: hidden;
      transform: skewX(-45deg);
    }
    &-bg {
      position: absolute;
      width: 100%;
      height: 200%;
      bottom: 0;
      left: 0;
      background: linear-gradient(0deg, #000000 0.09%, #1E135C 99.67%, #1E135C 199.36%), linear-gradient(180deg, rgba(26, 12, 54, 0) -99.36%, rgba(26, 12, 54, 0) 0.44%, #1A0C36 99.91%);
      background-clip: padding-box;
      border-radius: inherit;
      transition: all 375ms ease;
    }
    &-border {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -2;
      margin: -1px;
      background: linear-gradient(0deg, rgba(255,255,255,1), rgba(255,255,255,0));
      border-radius: inherit;
      transform: skewX(-45deg);
    }
    &-text {
      position: absolute;
      outline: none;
      font-family: 'Syne-B', serif;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1;
      transition: all 375ms ease;
    }
  }
}


.slider-arrows-container {
  position: absolute;
}

.slider-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 93px;
  transform-origin: '50% 50%';
  pointer-events: all;
  &.next {
    .slider-arrow-icon {
      transform: rotate(180deg);
    }
  }
  &:hover {
    .slider-arrow-icon-path {
      fill-opacity: 1;
    }
  }
  &-icon {
    width: 100%;
    height: auto;
    &-path {
      transition: all 375ms ease;
    }
  }
}

@media only screen and (max-width: 480px) {
  .mainButton {
    .mainButtonContent {
      padding-left: 53px;
      > span {
        font-size: 12px;
        line-height: 1;
      }
    }
  }

  .slider-arrow {
    width: 49px;
  }
}