.timerWrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 92px;
  width: 257px;
  height: 64px;
  background-image: url(../../styles/img/timer_background.svg);
  background-position: center;
  background-repeat: no-repeat;
  z-index: 4;
  > div {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    > h5 {
      font-weight: bold;
      font-size: 16px;
      line-height: 1.1;
      display: flex;
      font-family: "Satoshi";
      letter-spacing: 0.25rem;
      margin-bottom: 0;
      color: #ffe478;
    }
    > p {
      color: #ffffff;
      font-family: "Syne";
      font-weight: 600;
      font-size: 13px;
      line-height: 1.1;
      letter-spacing: 0.27rem;
      margin-bottom: 0;
    }
  }
}
