.timerWrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 108px;
  z-index: 4;
  > h5 {
    font-weight: bold;
    font-size: 33.8143px;
    line-height: 34px;
    display: flex;
    font-family: "Syne";
    margin: 0;
    > span {
      color: #FFE478;
      margin-left: 2px;
      margin-right: 2px;
    }
    > p {
      color: #ffffff;
    }
  }
}
