.advisorsSection {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    .advisorsSectionContainer {
      width: 85%;
    }
    .advisorsSectionTitle {
      margin-bottom: 64px;
    }
    .advisorsSectionSubtitle {
      margin-bottom: 100px;
      max-width: 1130px;
    }
  }
  .cardHeader {
    font-family: 'Syne';
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 36px;
    color: #EFDAA9;
    position: absolute;
    top: 30px;
    text-align: center;
  }
  .cardText {
    max-width: 520px;
    white-space: pre-line;
  }
  .cardImageWrap {
    position: absolute;
    top: 133px;
    width: 258px;
    height: 303px;
  }
  .cardImage {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .container {
    width: 100%;
    > div {
      width: 50%;
      max-width: 520px;
    }
  }
  .leftContainer {
    > div {
      &:first-child {
        position: relative;
        height: 568px;
        margin-right: 50px;
        > div {
          position: absolute;
          bottom: 30px;
        }
      }
    }
  }
  .cardContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .flipped {
    transform: scaleX(-1);
  }
  .socialButtonsWrap {
    position: absolute;
    bottom: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    > a {
      &:not(:last-child) {
        margin-right: 8px;
      }
    }
  }
  
  .rightContainer {
    flex-direction: row-reverse;
    .cardText {
      margin-right: 50px;
    }
    > span {
      margin-right: 50px;
    }
    > div {
      &:last-child {
        position: relative;
        height: 568px;
        > div {
          position: absolute;
          bottom: 30px;
          right: 185px;
        }
      }
    }
  }
  
  @media only screen and (max-width: 1200px) {
    .advisorsSection {
      padding-top: 60px;
      padding-bottom: 60px;
      .advisorsSectionContainer {
        width: 100%;
        padding: 0 32px;
      }
      .advisorsSectionTitle {
        margin-bottom: 20px;
      }
      .advisorsSectionSubtitle {
        margin-bottom: 60px;
        max-width: 100%;
      }
    }
    .cardContainer {
      width: 100%;
      height: auto !important;
      margin-right: 0 !important;
      margin-bottom: 30px;
    }
    .cardContainerBg {
      width: 100%;
    }
    .leftContainer,
    .rightContainer {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      max-width: 704px;
      margin-bottom: 60px;
    }
    .cardHeader {
      top: 60px;
    }
    .cardText {
      max-width: 100%;
      margin-bottom: 0;
    }
    .cardImageWrap {
      top: 219px;
      width: 341px;
      height: 401px;
    }
    .socialButtonsWrap {
      bottom: 48px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .advisorsSection {
      padding-top: 50px;
      padding-bottom: 50px;
      .advisorsSectionContainer {
        padding: 0 30px;
        div:last-child {
          margin-bottom: 0;
        }
      }
      .advisorsSectionTitle {
        margin-bottom: 16px;
      }
      .advisorsSectionSubtitle {
        font-size: 14px !important;
        line-height: 21px !important;
        margin-bottom: 50px;
      }
    }
    .cardContainer {
      margin-bottom: 25px;
    }
    .leftContainer,
    .rightContainer {
      max-width: 100%;
      margin-bottom: 50px;
      .cardText {
        font-size: 14px !important;
        line-height: 21px !important;
      }
    }
    .cardHeader {
      top: 19px;
    }
    .cardImageWrap {
      top: 100px;
      width: 184px;
      height: 216px;
    }
    .socialButtonsWrap {
      bottom: 19px;
    }
  }