.advisorsSection {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  .advisorsSectionContainer {
    width: 85%;
  }
  .advisorsSectionTitle {
    margin-bottom: 42px;
  }
  .advisorsSectionSubtitle {
    margin-bottom: 100px;
    max-width: 1130px;
  }
}
.cardHeader {
  position: absolute;
  top: 30px;
  text-align: center;
}
.cardText {
  max-width: 520px;
  white-space: pre-line;
  margin-bottom: 0;
}
.cardImageWrap {
  position: absolute;
  top: 133px;
  width: 258px;
  height: 303px;
}
.cardImage {
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  img {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.container {
  width: 100%;
  > div {
    width: 50%;
    max-width: 520px;
  }
}
.leftContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cardContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 481px;
  height: 568px;
  margin-right: 50px;
  flex-shrink: 0;
}
.flipped {
  transform: scaleX(-1);
}
.cardContainerBg {
  position: relative !important;
  bottom: unset !important;
}
.socialButtonsWrap {
  position: absolute;
  bottom: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  > a {
    &:not(:last-child) {
      margin-right: 8px;
    }
  }
}

.rightContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row-reverse;
  .cardContainer {
    margin-right: 0;
    margin-left: 50px;
  }
}

@media only screen and (max-width: 1200px) {
  .advisorsSection {
    padding-top: 60px;
    padding-bottom: 60px;
    .advisorsSectionContainer {
      width: 100%;
      padding: 0 32px;
    }
    .advisorsSectionTitle {
      margin-bottom: 20px;
    }
    .advisorsSectionSubtitle {
      margin-bottom: 60px;
      max-width: 100%;
    }
  }
  .cardContainer {
    width: 100%;
    height: auto !important;
    margin-right: 0 !important;
    margin-bottom: 30px;
  }
  .cardContainerBg {
    width: 100%;
  }
  .leftContainer,
  .rightContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 704px;
    margin-bottom: 60px;
  }
  .cardHeader {
    top: 7.7%;
  }
  .cardText {
    max-width: 100%;
    margin-bottom: 0;
  }
  .cardImageWrap {
    top: 25%;
    width: 41.28vw;
    height: 48.55vw;
    max-height: 401px;
    max-width: 341px;
  }
  .socialButtonsWrap {
    bottom: 48px;
  }
}
@media only screen and (max-width: 900px) {
  .leftContainer,
  .rightContainer {
    max-width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .advisorsSection {
    padding-top: 50px;
    padding-bottom: 50px;
    .advisorsSectionContainer {
      padding: 0 30px;
      div:last-child {
        margin-bottom: 0;
      }
    }
    .advisorsSectionTitle {
      margin-bottom: 49px;
    }
    .advisorsSectionSubtitle {
      margin-bottom: 50px;
    }
  }
  .cardContainer {
    margin-bottom: 25px;
  }
  .leftContainer,
  .rightContainer {
    max-width: 100%;
    margin-bottom: 50px;
  }
  .cardImageWrap {
    width: 44.44vw;
    height: 52.17vw;
    max-height: 216px;
    max-width: 184px;
  }
  .socialButtonsWrap {
    bottom: 20px;
  }
}

@media only screen and (min-width: 1920px) {
  .advisorsSection {
    padding-top: 200px;
    padding-bottom: 140px;
    .advisorsSectionTitle {
      margin-bottom: 120px;
    }
  }
  .leftContainer,
  .rightContainer {
    justify-content: flex-start;
    margin-bottom: 60px;
  }
}

@media only screen and (min-width: 2000px) {
  .advisorsSection {
    .advisorsSectionSubtitle {
      font-size: 1.8rem;
      line-height: 2.4rem;
      max-width: 100%;
    }
  }

  .leftContainer,
  .rightContainer {
    justify-content: space-between;
    width: 100%;
  }
  .cardText {
    max-width: 62%;
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}