.faqSection {
  width: 100%;
  .faqSectionContainer {
    width: 85%;
  }
  .faqSectionTitle {
    text-align: center;
    margin-bottom: 80px;
  }
  .faqSectionQuestions {
    width: 100%;
  }
}

.accordionSection {
  position: relative;
  cursor: url(https://images.ctfassets.net/erglja63hoxc/2R9cVs55Aco4cQS8XL8ds8/e1789e9819062a19c1a6d88a7d964c03/Logo_Stickys-Finger-Joint.svg) 2 2, pointer;

  > span {
    position: absolute;
    font-family: Syne;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #FFFFFF;
    left: 70px;
    top: 60px;
    max-width: 85%;
  }
  > img {
    position: absolute;
    top: 132px;
    left: 70px;
    max-width: 83%;
  }
  > p {
    line-height: 1.7em;
    position: absolute;
    left: 70px;
    top: 160px;
    max-width: 87%;
  }
  > div {
    position: relative;
    max-width: 1200px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    > img {
      max-width: 100%;
      position: absolute;
      &:last-child {
        right: 0;
        top: 0
      }
    }
    > h6 {
      position: absolute;
      right: 40px;
      top: 20px;
      font-size: 35px;
    }
  }
  &:nth-of-type(11) {
    > span {
      font-size: 30px;
    }
  }
}
.angle {
  position: absolute;
  right: 0;
  top: 0
}
.button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 120px;
  > a > div {
    > span {
      right: 26px !important;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .faqSection {
    .faqSectionContainer {
      width: 100%;
      padding: 0 32px;
    }
    .faqSectionTitle {
      margin-bottom: 60px;
    }
  }
  .accordionSection {
    > span {
      font-size: 24px;
      left: 52px;
      top: 30px;
      max-width: 85%;
    }
    &:nth-of-type(11) {
      > span {
        font-size: 24px;
      }
    }
    > img {
      top: 92px;
      left: 52px;
    }
    > p {
      left: 52px;
      top: 114px;
    }
  }
}
@media only screen and (max-width: 768px) {
  .accordionSection {
    > span {
      max-width: 77%;
      line-height: 30px;
    }
  }
}

@media only screen and (max-width: 480px) {
  .faqSection {
    .faqSectionContainer {
      padding: 0 30px;
    }
    .faqSectionTitle {
      margin-bottom: 50px;
    }
  }
  .accordionSection {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
    &:nth-of-type(11) {
      > span {
        font-size: 16px;
      }
    }
    > span {
      font-size: 16px;
      line-height: 24px;
      left: 32px;
      top: 30px;
      max-width: 75%;
    }
    > img {
      top: 85px;
      left: 32px;
    }
    > p {
      left: 32px;
      top: 104px;
      width: 83%;
      font-size: 12px !important;
      line-height: 18px !important;
    }
    > div {
      > h6 {
        right: 25px;
        top: 7px;
      }
    }
  }

  .button {
    margin-top: 50px;
    margin-bottom: 120px;
  }
}