.faqSection {
  width: 100%;
  padding-top: 100px;
  .faqSectionContainer {
    width: 85%;
  }
  .faqSectionTitle {
    text-align: center;
    margin-bottom: 80px;
  }
  .faqSectionQuestions {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.accordionSection {
  position: relative;
  cursor: url(https://images.ctfassets.net/erglja63hoxc/2R9cVs55Aco4cQS8XL8ds8/e1789e9819062a19c1a6d88a7d964c03/Logo_Stickys-Finger-Joint.svg) 2 2, pointer;
  width: 100%;
  max-width: 1200px;
  padding: 60px 70px 0;
  display: flex;
  flex-direction: column;
  > span {
    font-family: 'Syne';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #FFFFFF;
    padding-right: 77px;
  }
  > img {
    max-width: 83%;
    margin-top: 28px;
    margin-bottom: 34px;
  }
  > p {
    line-height: 1.7em;
    max-width: 87%;
  }
  > div {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: -1;
    > img {
      max-width: 100%;
      position: absolute;
      &:last-child {
        right: 0;
        top: 0
      }
    }
    > h6 {
      position: absolute;
      right: 40px;
      top: 20px;
      font-size: 35px;
    }
  }
  &:nth-of-type(11) {
    > span {
      font-size: 27px;
      line-height: 38px;
    }
  }
}
.angle {
  position: absolute;
  right: 0;
  top: 0
}
.button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 120px;
  > a > div {
    > span {
      right: 26px !important;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .faqSection {
    padding-top: 60px;
    .faqSectionContainer {
      width: 100%;
      padding: 0 32px;
    }
    .faqSectionTitle {
      margin-bottom: 60px;
    }
  }
  .accordionSection {
    padding: 30px 52px 0;
    > span {
      font-size: 24px;
      line-height: 30px;
    }
    &:nth-of-type(11) {
      > span {
        font-size: 24px;
        line-height: 30px;
      }
    }
    > img {
      margin-top: 8px;
      margin-bottom: 22px;
    }
  }
}

@media only screen and (max-width: 480px) {
  .faqSection {
    padding-top: 50px;
    .faqSectionContainer {
      padding: 0 30px;
    }
    .faqSectionTitle {
      margin-bottom: 50px;
    }
  }
  .accordionSection {
    padding: 20px 32px 0;
    &:not(:last-child) {
      margin-bottom: 16px;
    }
    &:nth-of-type(11) {
      > span {
        font-size: 16px;
        line-height: 21px;
      }
    }
    > span {
      font-size: 16px;
      line-height: 24px;
      padding-right: 47px;
    }
    > img {
      margin-top: 9px;
      margin-bottom: 11px;
    }
    > p {
      font-size: 0.8rem !important;
      line-height: 1.2rem !important;
      max-width: 90%;
    }
    > div {
      > h6 {
        right: 25px;
        top: 7px;
      }
    }
  }

  .button {
    margin-top: 50px;
    margin-bottom: 120px;
  }
}