.wrapper {
  width: 100%;
  background: linear-gradient(0deg, rgba(1, 1, 3, 0) 0%, #010103 69.27%);
  padding: 27px 32px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10000;
  .menu {
    cursor: pointer;
  }
}

.menu-icon {
  margin: 0;
  width: 93px;
}

.logo {
    width: 295px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.tabletLogo {
  display: none;
  width: 60px;
}

.buttonsBlock {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuWrapper {
  z-index: 999;
  visibility: hidden;
  transition: all 0.25s ease-in-out;
  transform: translateX(150%);
  top: 0;
  right: 0;
  position: fixed;
  // overflow-y: auto;
  // overflow-x: hidden;
  overflow: hidden;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  .decoration {
    width: 713px;
    max-width: 100%;
    position: absolute;
    bottom: 0;
    right: 32px;
  }
  > a {
    z-index: 9999;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-left: 40px;
    text-decoration: none;
    color: #ffffff;
    &:hover {
      > span,
      > p {
        background: linear-gradient(75.91deg, #EFDDA9 23.74%, #F0A8A8 92.68%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    > span {
      font-family: "Syne";
      font-style: normal;
      font-weight: bold;
      font-size: 46px;
      line-height: 46px;
      color: #ffffff;
      margin-right: 10px;
      margin-top: 16px;
      transition: all 375ms ease;
      pointer-events: none;
    }
    > p {
      font-family: "Syne";
      font-style: normal;
      font-weight: 600;
      font-size: 72px;
      line-height: 108px;
      text-transform: uppercase;
      color: #ffffff;
      transition: all 375ms ease;
      pointer-events: none;
    }
  }
  .menu-bg {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@media only screen and (max-width: 1200px) {
  .tabletLogo {
    display: block;
  }
  .logo {
    display: none;
  }
  .menu {
    display: flex;
    align-items: center;
    > img {
      margin-right: 20px;
    }
  }

  .menuWrapper {
    .decoration {
      width: 555px;
      right: 0;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .menuWrapper {
    justify-content: flex-start;
    padding-top: 20vw;
  }
}

@media only screen and (max-width: 768px) {
  .menuWrapper {
    justify-content: flex-start;
    padding-top: 217px;
  }
}

@media only screen and (max-width: 660px) {
  .tabletLogo {
    display: none;
  }
  .buttonsBlock {
    > div {
      display: none;
    }
  }
  .menuWrapper {
    padding-top: 185px;
    .decoration {
      width: 100%;
      right: 0;
    }
    > a {
      margin-left: 30px;
      > span {
        font-size: 26px;
        line-height: 26px;
        margin-right: 15px;
        margin-top: 9px;
      }
      > p {
        font-size: 40px;
        line-height: 60px;
      }
    }
  }
}

// @media only screen and (max-width: 480px) {
//   .menuWrapper {
//     padding-top: 185px;
//     .decoration {
//       width: 100%;
//       right: 0;
//     }
//   }
// }

@media only screen and (min-width: 1920px) {
  .menuWrapper {
    .decoration {
      width: 40vw;
      right: 100px;
    }
  }
}