@import "./gem.scss";
@import "./rem.scss";

@font-face {
  font-family: "Syne";
  src: local("syne"), url(../styles/fonts/syne.ttf) format("truetype");
}
@font-face {
  font-family: "Syne-B";
  src: local("Syne-Bold"), url(../styles/fonts/Syne-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Satoshi";
  src: url("../styles/fonts/Satoshi-Regular.woff2") format("woff2"),
    url("../styles/fonts/Satoshi-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em "Satoshi", serif, sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
  background-color: #000000;
  &.scroll-lock {
    overflow: hidden;
  }
}

body {
  margin: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  font-family: georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  &.scroll-lock {
    overflow: hidden;
  }
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}

abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
  // max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace;
  font-size: 1em;
}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
hr {
  box-sizing: content-box;
  overflow: visible;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  padding: 0.35em 0.625em 0.75em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(1.45rem / 2);
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono", "Liberation Mono", Menlo, Courier,
    monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}

.carousel-root {
  width: 100%;
}

.slick-center {
  opacity: 1 !important;
  cursor: url(../styles/img/cursors/more.png) 2 2, auto !important;
}
.slick-active {
  opacity: 1 !important;
}
.slick-slide {
  opacity: 0.3;
  cursor: url(../styles/img/cursors/cursor.png) 25 15, auto;
  display: flex !important;
  align-items: center;
  justify-content: center;
  img {
    width: 50vw;
    min-width: 50vw;
    max-width: 100%;
    padding: 0 11px;
  }
}

.slick-slider {
  &.fighters-slider {
    .slick-track {
      left: -25vw;
    }
  }
  &.elite-fighters {
    // .slick-track {
    //   // left: -33vw;
    // }
    .slick-slide {
      opacity: 1;
      cursor: default;
      img {
        max-width: 100%;
        // padding: 0;
        width: 32vw;
        min-width: 32vw;
      }
    }
    .slick-center {
      cursor: default !important;
    }
  }
  &.civilizations-slider {
    .slick-slide {
      cursor: default;
      img {
        max-width: 100%;
        padding: 0;
        width: 31vw;
        min-width: 31vw;
      }
    }
  }
}
.civilizations-slider-wrap {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.ticker__element {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 32px;
  > span {
    font-family: "Syne";
    font-style: normal;
    font-weight: 600;
    font-size: 96px;
    line-height: 144px;
    color: #d4d4d4;
  }
}
.container-width {
  width: 90%;
  margin: 0 auto;
  max-width: 1440px;
}
.title {
  font-family: "Syne-B";
  font-style: normal;
  font-weight: 600;
  font-size: 6.66rem;
  line-height: 5.56rem;
  letter-spacing: -0.024rem;
  color: #efdaa9;
}
.title2 {
  font-family: "Syne-B";
  font-style: normal;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 1;
  letter-spacing: -0.2rem;
  color: #ffffff;
}
.title3 {
  font-family: "Syne-B";
  font-style: normal;
  font-weight: 600;
  font-size: 1.78rem;
  line-height: 2.67rem;
  color: #efdaa9;
}
.title4 {
  font-family: "Syne-B";
  font-style: normal;
  font-weight: 600;
  font-size: 1.666rem;
  line-height: 2rem;
  color: #efdaa9;
}
.description {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: normal;
  line-height: 1.666rem;
  font-size: 1.11rem;
  letter-spacing: 0.015rem;
  color: rgba(255, 255, 255, 0.7);
}
.description_padding {
  padding: 30px;
}
.text_padding {
  padding-left: 30px;
  padding-right: 30px;
}
.menu-open {
  transform: translateX(0);
  visibility: visible;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sm-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 88px;
  margin-left: 16px;
  &.mobile-only {
    display: none;
  }
}

.sm-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  width: 40px;
  &:hover {
    .sm-icon {
      &:hover {
        .sm-icon-bg {
          opacity: 0;
          &.hover {
            opacity: 1;
          }
        }
        .sm-icon-path {
          fill: #010103;
        }
      }
    }
  }
}

.sm-icon {
  width: 100%;
  height: 100%;
  &-bg,
  &-path {
    transition: all 375ms ease;
  }
  &-bg {
    &.hover {
      opacity: 0;
    }
  }
}

.sound-icon {
  width: 59px;
  height: auto;
  &.muted {
    .sound-icon-path {
      opacity: 0;
      &.muted {
        opacity: 1;
      }
    }
  }
  &-path {
    transition: all 375ms ease;
    &.muted {
      opacity: 0;
    }
  }
}
.active-header {
  transition: opacity 0.3s ease;
  position: fixed !important;
  opacity: 1;
}

.disabled-header {
  opacity: 0;
  transition: opacity 0.3s ease;
  position: fixed !important;
}
@media only screen and (max-width: 1200px) {
  .title {
    font-size: 2.66rem;
    line-height: 4rem;
    letter-spacing: -0.08rem;
  }
  .title2 {
    font-size: 2rem;
    line-height: 1;
    letter-spacing: -0.15rem;
  }
  .title3 {
    font-size: 1.33rem;
    line-height: 2rem;
  }
  .description {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .ticker__element {
    > span {
      font-size: 48px;
      line-height: 72px;
    }
  }

  .slick-slider {
    &.elite-fighters {
      margin-bottom: 52px;
    }
    &.civilizations-slider {
      .slick-track {
        left: -25vw;
      }
      .slick-slide {
        img {
          width: 50vw;
          min-width: 50vw;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .slick-slider {
    &.elite-fighters {
      .slick-track {
        left: -25vw;
      }
      .slick-slide {
        img {
          max-width: 100%;
          width: 50vw;
          min-width: 50vw;
        }
      }
    }
  }
}

@media only screen and (max-width: 660px) {
  .sm-buttons {
    &.menu {
      margin-left: 30px;
      margin-top: 30px;
      position: relative;
      z-index: 1;
    }
    &.mobile-only {
      display: flex;
    }
  }
}

@media only screen and (max-width: 480px) {
  .button-main-text {
    font-size: 13px !important;
  }
  .title {
    font-size: 2rem;
    line-height: 3rem;
  }
  .title2 {
    font-size: 1.333rem;
    line-height: 1;
    letter-spacing: -0.11rem;
  }
  .title3 {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .title4 {
    font-size: 5.3vw;
    line-height: 2rem;
  }

  .ticker__element {
    padding: 0 16px;
    > span {
      font-size: 24px;
      line-height: 36px;
    }
  }
  .description_padding {
    padding: 20px;
  }
  .text_padding {
    padding-left: 10px;
    padding-right: 10px;
  }
  .slick-slider {
    &.civilizations-slider {
      .slick-slide {
        img {
          width: 330px;
        }
      }
    }
    &.elite-fighters {
      margin-bottom: 42px;
      .slick-slide {
        img {
          width: 325px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1921px) {
  .slick-slider {
    &.fighters-slider {
      .slick-track {
        left: -12.5vw;
      }
    }
  }
}

@media only screen and (min-width: 2000px) {
  .slick-slide {
    img {
      min-width: 25vw;
      width: 25vw;
    }
  }
}
