.hero-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 560px;
  overflow: hidden;
  &-video {
    min-width: 100%;
    min-height: 560px;
    object-fit: cover;
  }
}

.scroll-button {
  &-link {
    position: absolute;
    bottom: 32px;
    cursor: pointer;
  }
}