.hero-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 560px;
  max-height: 82.3vh;
  overflow: hidden;
  &-video {
    min-width: 100%;
    min-height: 560px;
    object-fit: cover;
  }
}

.scroll-button {
  &-link {
    position: absolute;
    bottom: 32px;
    cursor: pointer;
  }
}

@media only screen and (max-width: 768px) {
  .hero-section {
    min-height: 93vh;
    max-height: 93vh;
    &-video {
      min-height: 93vh;
    }
  }

  .scroll-button {
    &-link {
      bottom: -10px;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 480px) {
  .hero-section {
    min-height: 80vh;
    max-height: 80vh;
    &-video {
      min-height: 80vh;
    }
  }
}