.footer {
  height: 250px;
  width: 100%;
  background-color: #000000;
  // border-top: 1px solid #FFFFFF;
  padding: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  > img {
    position: absolute;
    max-width: 100%;
    top: 0;
  }
  > section {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    .leftBlock {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      > span {
        font-family: "Satoshi";
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 15px;
        letter-spacing: 0.1em;
        color: rgba(255, 255, 255, 0.7);
        margin-top: 33px;
      }
      > img {
        cursor: pointer;
      }
    }
    .rightBlock {
      > div {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        &:last-child {
          margin-top: 56px;
          > span {
            font-family: "Syne";
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            color: #ffffff;
            text-decoration: none;
            transition: color 375ms ease;
            cursor: pointer;
            &:hover {
              color: #EFDAA9;
            }
            &:first-child {
              margin-right: 22px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 790px) {
  .footer {
    display: none;
  }
}
