.sponsors {
  padding-top: 70px;
  padding-bottom: 90px;
  .sponsorsContainer {
    width: 85%;
  }
  .sponsorsTitle {
    margin-bottom: 76px;
  }
  .sponsorsWrap {
    position: relative;
    height: 220px;
    .gragientLine {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      img {
        max-width: 100%;
        width: 100%;
      }
    }
  }
}
@media only screen and (max-width: 1200px) {
  .sponsors {
    .sponsorsTitle {
      margin-top: 40px !important;
    }
  }
  .sponsorsWrap {
    margin-bottom: 40px !important;
  }
}