.partners {
  padding-top: 70px;
  padding-bottom: 90px;
  .partnersContainer {
    width: 85%;
  }
  .partnersTitle {
    margin-bottom: 76px;
  }
  .partnersWrap {
    display: flex;
    align-items: center;
    position: relative;
    height: 220px;
    .gragientLine {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      img {
        max-width: 100%;
        width: 100%;
      }
    }
  }
  .tickerWrap {
    width: 100%;
  }
  .sponsorImage {
    width: 142px;
    height: auto;
    margin: 0 64px;
    &:last-of-type {
      width: 70px;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .partners {
    padding-bottom: 60px;
    .partnersContainer {
      width: 100%;
      padding: 0 32px;
    }
    .partnersTitle {
      margin-top: 40px;
      margin-bottom: 60px;
    }
    .partnersWrap {
      margin-bottom: 0;
      height: 169px;
      justify-content: center;
      .gragientLine {
        width: 1090px;
        left: auto;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .partners {
    padding-bottom: 50px;
    .partnersContainer {
      padding: 0 30px;
    }
    .partnersTitle {
      font-size: 36px;
      line-height: 54px;
      margin-top: 0;
      margin-bottom: 50px;
    }
  }
}