.teamSection {
  width: 100%;
  padding-top: 113px;
  padding-bottom: 100px;
  .teamSectionContainer {
    width: 85%;
  }
  .teamSectionTitle {
    margin-bottom: 42px;
  }
  .teamSectionSubtitle {
    margin-bottom: 100px;
    max-width: 1130px;
  }
}
.cardHeader {
  position: absolute;
  top: 30px;
  text-align: center;
}
.cardText {
  max-width: 520px;
  white-space: pre-line;
  margin-bottom: 0;
}
.cardImageWrap {
  position: absolute;
  top: 133px;
  width: 258px;
  height: 303px;
}
.cardImage {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.container {
  width: 100%;
  > div {
    width: 50%;
    max-width: 520px;
  }
}
.leftContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  > div {
    &:first-child {
      position: relative;
      height: 568px;
      margin-right: 50px;
      > div {
        position: absolute;
        bottom: 30px;
      }
    }
  }
}
.cardContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flipped {
  transform: scaleX(-1);
}
.socialButtonsWrap {
  position: absolute;
  bottom: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  > a {
    &:not(:last-child) {
      margin-right: 8px;
    }
  }
}

.rightContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row-reverse;
  .cardText {
    margin-right: 50px;
  }
  > span {
    margin-right: 50px;
  }
  > div {
    &:last-child {
      position: relative;
      height: 568px;
      > div {
        position: absolute;
        bottom: 30px;
        right: 185px;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .teamSection {
    padding-top: 60px;
    padding-bottom: 60px;
    .teamSectionContainer {
      width: 100%;
      padding: 0 32px;
    }
    .teamSectionTitle {
      margin-bottom: 20px;
    }
    .teamSectionSubtitle {
      margin-bottom: 60px;
      max-width: 100%;
    }
  }
  .cardContainer {
    width: 100%;
    height: auto !important;
    margin-right: 0 !important;
    margin-bottom: 30px;
  }
  .cardContainerBg {
    width: 100%;
  }
  .leftContainer,
  .rightContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 704px;
    margin-bottom: 60px;
  }
  .cardHeader {
    top: 7.7%;
  }
  .cardText {
    max-width: 100%;
    margin-bottom: 0;
  }
  .cardImageWrap {
    top: 25%;
    width: 41.28vw;
    height: 48.55vw;
    max-height: 401px;
    max-width: 341px;
  }
  .socialButtonsWrap {
    bottom: 48px;
  }
}
@media only screen and (max-width: 900px) {
  .leftContainer,
  .rightContainer {
    max-width: 100%;
  }
}

@media only screen and (min-width: 1920px) {
  .teamSection {
    padding-top: 200px;
    padding-bottom: 140px;
    .teamSectionSubtitle {
      margin-bottom: 150px;
    }
  }
  
  .leftContainer,
  .rightContainer {
    justify-content: flex-start;
    margin-bottom: 60px;
  }
}

@media only screen and (min-width: 2000px) {
  .teamSection {
    .teamSectionSubtitle {
      font-size: 1.8rem;
      line-height: 2.4rem;
      max-width: 100%;
    }
  }

  .leftContainer,
  .rightContainer {
    justify-content: space-between;
    width: 100%;
  }
  .cardText {
    max-width: unset;
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}