.main {
  width: 100%;
  padding-top: 128px;
  padding-bottom: 50px;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  > h1 {
    font-style: normal;
    text-align: center;
    font-weight: 600;
    font-size: 45px;
    line-height: 45px;
    color: #FFFFFF;
    margin-bottom: 22px;
    max-width: 90%;
    width: 520px;
    font-family: 'Syne';
    > span {
      position: relative;
      top: -6px;
      display: inline;
      font-style: normal;
      font-weight: bold;
      font-size: 45px;
      line-height: 45px;
      color: #EFDAA9;
    }
  }
  > p {
    width: 696px;
    max-width: 90%;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    color: rgba(165, 161, 161, 0.7);
    font-family: 'Satoshi';
  }
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  // cursor: url(../../styles/img/cursors/cursor.png) 25 15, auto;
}
.sliderWrapper {
  padding-bottom: 200px;
  padding-top: 80px;
}

@media only screen and (max-width: 1200px) {
  .main {
    padding-top: 120px;
    padding-bottom: 60px;
    > p {
      margin-bottom: 0;
    }
  }
  .sliderWrapper {
    padding-bottom: 60px;
    padding-top: 0;
  }
}
@media only screen and (max-width: 480px) {
  .main {
    padding-top: 100px;
    padding-bottom: 50px;
    > h1 {
      font-size: 24px;
      line-height: 26px;
      width: 100%;
      margin-bottom: 18px;
      max-width: 100%;
      padding: 0 32px;
      > span {
        font-size: 24px;
        line-height: 26px;
        top: -3px;
      }
    }
    > p {
      max-width: 100%;
      width: 100%;
      padding: 0 32px;
      height: auto;
    }
  }
  .sliderWrapper {
    padding-bottom: 50px;
  }
}

@media only screen and (min-width: 1920px) {
  .sliderWrapper {
    padding-bottom: 300px;
  }
}

@media only screen and (min-width: 2300px) {
  .main {
    padding-top: 200px;
    > h1 {
      display: flex;
      align-items: center;
      font-size: 45px;
      line-height: 45px;
      margin-bottom: 30px;
      width: 910px;
      > span {
        font-size: 45px;
        line-height: 54px;
        margin-right: 13px;
        margin-bottom: 12px;
      }
    }
    > p {
      width: 1000px;
      height: auto;
      font-size: 14px;
      line-height: 21px;
    }
  }
}

@media only screen and (min-width: 3000px) {
  .main {
    padding-top: 300px;
  }
  .sliderWrapper {
    padding-bottom: 400px;
  }
}