.main {
  width: 100%;
  margin-bottom: 150px;
  .mainHeader {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    > h1:first-child {
      margin-right: 20px;
    }
  }
}
.cardHeader {
  font-family: 'Syne';
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 36px;
  color: #EFDAA9;
  position: absolute;
  top: 30px;
  left: 190px;
}
.description {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}
.container {
  width: 100%;
  > div {
    width: 50%;
    max-width: 520px;
  }
}
.leftContainer {
  justify-content: flex-start;
  > div {
    &:first-child {
      position: relative;
      height: 568px;
      margin-right: 50px;
      > div {
        position: absolute;
        bottom: 30px;
        left: 150px;
      }
    }
  }
}

.rightContainer {
  justify-content: flex-end;
  > span {
    margin-right: 50px;
  }
  > div {
    > span {
      top: 30px;
      left: 228px;
    }
    &:last-child {
      position: relative;
      height: 568px;
      > div {
        position: absolute;
        bottom: 30px;
        right: 185px;
      }
    }
  }
}